In [1]:
s = "python programming"

print(len(s))
print(s.find('o'))
print(s.rfind('o'))
print(s.index('r'))
print(s.count('n'))

18
4
9
8
2

In [3]:
print(s.find('z'))

-1

In [4]:
print(s.index('z'))

ValueError: substring not found

In [5]:
s = """생각이란 생각할수록 생각나므로 생각하지 말아야 할 생각은 생각하지
않으려고 하는 생각이 옳은 생각이라고 생각합니다"""

print('생각의 출현 횟수 : ', s.count('생각'))

생각의 출현 횟수 :  9

In [6]:
s = 'python programming'

print('a' in s)
print('z' in s)
print('pro' in s)
print('x' in s)

True
False
True
False

In [7]:
name = '김한결'
if name.startswith('김'):
    print('김가입니다')
if name.startswith('한'):
    print('한가입니다')
    
file = 'girl.jpg'
if file.endswith('.jpg'):
    print('그림파일 입니다')

김가입니다
그림파일 입니다

In [8]:
print(file.endswith('.jpg'))

True

In [9]:
print(file.endswith())

TypeError: endswith() takes at least 1 argument (0 given)

In [12]:
height = input('키를 입력하세요 : ')
if height.isdecimal():
    print('키 = ', height)
else:
    print('숫자만 입력하세요')

키를 입력하세요 : 안알랴줌
숫자만 입력하세요

In [13]:
s = "Good morning. my love Kim"

print(s.upper())
print(s.lower())
print(s)

GOOD MORNING. MY LOVE KIM
good morning. my love kim
Good morning. my love Kim

In [14]:
print(s.title())

Good Morning. My Love Kim

In [16]:
python = input('파이썬의 영문 철자를 입력하세요 : ')
if python.lower() == 'python':
    print('맞췄습니다')

파이썬의 영문 철자를 입력하세요 : Python
맞췄습니다

In [18]:
s ="  angel   "
print(s.strip())
print(s.rstrip())
print(s.lstrip())

angel
  angel
angel

In [19]:
s = '짜장 짬뽕 탕수육'
print(s.split())
print()

['짜장', '짬뽕', '탕수육']

In [27]:
s2 = '서울->대전->대구->부산'
print(s2.split())
print(s2.split('->'))

['서울->대전->대구->부산']
['서울', '대전', '대구', '부산']

In [32]:
s1 = s2.split('->')
for i in s1:
    print(i,'찍고, ', end='')

서울 찍고, 대전 찍고, 대구 찍고, 부산 찍고,

In [33]:
travel = """나는 떠났네, 터진 주머니에 두 손을 넣고서\n외투는 다 헤져 관념이 되었어\n
하늘 아래로 나아갔지, 시의 여신이여! 나는 그대의 신도였다네.\n
오 랄라! 얼마나 찬란한 사랑을 꿈꾸었던지!\n\n
길 가에 앉아 별들의 소리에 귀 기울였어,\n구월의 어느 아름다운 저녁, 이마에 이슬방울이\n
생명수 같은 와인처럼 떨어지고 있었지"""
poet= travel.splitlines()
for i in poet:
    print(i)

나는 떠났네, 터진 주머니에 두 손을 넣고서
외투는 다 헤져 관념이 되었어

하늘 아래로 나아갔지, 시의 여신이여! 나는 그대의 신도였다네.

오 랄라! 얼마나 찬란한 사랑을 꿈꾸었던지!


길 가에 앉아 별들의 소리에 귀 기울였어,
구월의 어느 아름다운 저녁, 이마에 이슬방울이

생명수 같은 와인처럼 떨어지고 있었지

In [34]:
poem = travel.split('\n')
for i in poem:
    print(i)

나는 떠났네, 터진 주머니에 두 손을 넣고서
외투는 다 헤져 관념이 되었어

하늘 아래로 나아갔지, 시의 여신이여! 나는 그대의 신도였다네.

오 랄라! 얼마나 찬란한 사랑을 꿈꾸었던지!


길 가에 앉아 별들의 소리에 귀 기울였어,
구월의 어느 아름다운 저녁, 이마에 이슬방울이

생명수 같은 와인처럼 떨어지고 있었지

In [35]:
s = '독도는 일본땅이다. 대마도도 일본땅이다'
print(s.replace('일본','한국'))

독도는 한국땅이다. 대마도도 한국땅이다

In [38]:
traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n
길은 외줄기\n남도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n
구름에 달 가듯이\n가는 나그네"""

print(traveler)
print('-'*30)

poet = traveler.splitlines()
print(poet)
print('-'*50)

for i in poet:
    print(i.center(50))

강나루 건너서
밀밭 길을

구름에 달 가듯이
가는 나그네

길은 외줄기
남도 삼백리

술 익는 마을마다
타는 저녁놀

구름에 달 가듯이
가는 나그네
------------------------------
['강나루 건너서', '밀밭 길을', '', '구름에 달 가듯이', '가는 나그네', '', '길은 외줄기', '남도 삼백리', '', '술 익는 마을마다', '타는 저녁놀', '', '구름에 달 가듯이', '가는 나그네']
--------------------------------------------------
                     강나루 건너서
                      밀밭 길을

                    구름에 달 가듯이
                      가는 나그네

                      길은 외줄기
                      남도 삼백리

                    술 익는 마을마다
                      타는 저녁놀

                    구름에 달 가듯이
                      가는 나그네

In [39]:
price = 500
print('궁금하면 %d원' %price)

궁금하면 500원

In [41]:
print('궁금하면',str(price)+'원')

궁금하면 500원

In [45]:
month =8
day =9
anni = '내 생일'
print('%s은 %d월 %d일이다! 이 자식아!' %(anni,month,day))

내 생일은 8월 9일이다! 이 자식아!

In [50]:
value = 123
print('가치는 %d이다' %value)
print('가치는 %10d이다' %value)
print('가치는 %5d이다' %value)
print('가치는 %3d이다' %value)
print('가치는 %1d이다' %value)
print('가치는 %-1d이다' %value)

가치는 123이다
가치는        123이다
가치는   123이다
가치는 123이다
가치는 123이다
가치는 123이다

In [49]:
price = [30, 13500, 2000]
for i in price:
    print('가격 : %d원' %i)
print()
for i in price:
    print('가격 : %5d원' %i)

가격 : 30원
가격 : 13500원
가격 : 2000원

가격 :    30원
가격 : 13500원
가격 :  2000원

In [51]:
price = [30, 13500, 2000]
for i in price:
    print('가격 : %-7d원' %i)
print()
for i in price:
    print('가격 : %-5d원' %i)

가격 : 30     원
가격 : 13500  원
가격 : 2000   원

가격 : 30   원
가격 : 13500원
가격 : 2000 원

In [52]:
name = '한결'
age =16
height = 187.5
print('이름 : {}, 나이 : {}, 키: {}'.format(name,age,height))

이름 : 한결, 나이 : 16, 키: 187.5

In [53]:
name = '한결'
age =16
height = 187.5
print('이름 : {2:s}, 나이 : {0:d}, 키: {1:f}'.format(age,height,name))

이름 : 한결, 나이 : 16, 키: 187.500000

In [54]:
score = [88,95,70,100,99]
sum = 0
for i in score:
    sum += i
print('총점 : ', sum)
print('평균 : ',sum/len(score))

총점 :  452
평균 :  90.4

In [55]:
sum = 0
for i in score:
    print(i)
    sum+=i
print('총점 : ', sum)

88
95
70
100
99
총점 :  452

In [56]:
print(score[2])

70

In [57]:
score[2]

70

In [58]:
score[2] = 2

In [60]:
print(score)

[88, 95, 2, 100, 99]

In [69]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
num[2:4] = [20,30]
print(num)

[0, 1, 20, 30, 4, 5, 6, 7, 8, 9]

In [71]:
num[2:4] = [200,300,400,500]
print(num)

[0, 1, 200, 300, 400, 500, 4, 5, 6, 7, 8, 9]

In [72]:
num[1:]=[0,0,0]
print(num)

[0, 0, 0, 0]

In [73]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
num[2:3] =[20,30,40,50]
print(num)

[0, 1, 20, 30, 40, 50, 3, 4, 5, 6, 7, 8, 9]

In [75]:
num[2:6]=[2]
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
num[3] = (0,0,0)
print(num)

[0, 1, 2, (0, 0, 0), 4, 5, 6, 7, 8, 9]

In [81]:
num[3:] = []
print(num)

[0, 1, 2]

In [84]:
num[3:]=[3,4,5,6,7,8,9]
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
del num[3]
print(num)

[0, 1, 2, 4, 5, 6, 7, 8, 9]

In [86]:
list1=[1,2,3,4]
list2=[5,6,7,8]
print(list1+list2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [88]:
print(list1*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [89]:
lol = [[1,2,3],[4,5],[6,7,8,9]]
print(lol[0])
print(lol[0][1])

[1, 2, 3]
2

In [91]:
lol[0][1]=[0]
print(lol)

[[1, [0], 3], [4, 5], [6, 7, 8, 9]]

In [93]:
lol[0][1]=2
print(lol)

[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [94]:
for i in lol:
    for x in i:
        print(x, end=',')
    print()

1,2,3,
4,5,
6,7,8,9,