In [11]:
score=[[88,76,92,98],[65,70,58,82],[82,80,78,88]]


totalsum = 0
totalsub = 0
y = 1
for i in score:
    x = 0
    sum = 0
    for x in i:
        sum += x
    print(y, "번째 학생 성적 총합 :", sum, ' 평균 : ', sum/len(i))
    y += 1
    totalsum += sum
    totalsub += len(i)
    print()

print('전체 학생의 성적 총합 :', totalsum, '학생 평균 : ', totalsum/totalsub)

1 번째 학생 성적 총합 : 354  평균 :  88.5

2 번째 학생 성적 총합 : 275  평균 :  68.75

3 번째 학생 성적 총합 : 328  평균 :  82.0

전체 학생의 성적 총합 : 957 학생 평균 :  79.75

In [12]:
num = [n*2 for n in range(1,11)]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
num = [n*2 for n in range(1,11)]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
num = [ n*2 for n in range(1,11)]

for i in num:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [18]:
nums= [1,2,3,4]
nums.append(5)
print(nums)
print()
nums.insert(2,100)
print(nums)

[1, 2, 3, 4, 5]

[1, 2, 100, 3, 4, 5]

In [19]:
nums.insert(2)

TypeError: insert expected 2 arguments, got 1

In [21]:
nums=[1,2,3,4]
nums[2:2] = [10,100,1000]
print(nums)
print()
nums = [1,2,3,4]
nums[2]=[10,100,1000]
print(nums)

[1, 2, 10, 100, 1000, 3, 4]

[1, 2, [10, 100, 1000], 4]

In [23]:
list1 =[1,2]
list2 = [10,11]
list1.extend(list2)
print(list1)

[1, 2, 10, 11]

In [24]:
list1 = [1,2]
list2 = (10,11)
list1.extend(list2)
print(list1)

[1, 2, 10, 11]

In [25]:
list1=(1,2)
list2=[10,11]
list1.extend(list2)
print(list1)

AttributeError: 'tuple' object has no attribute 'extend'

In [45]:
score = [88,95,70,100,99,80,78,50]
score.remove(50)
print(score)
score.remove(1)
print(score)

[88, 95, 70, 100, 99, 80, 78]

ValueError: list.remove(x): x not in list

In [32]:
del (score[6])
print(score)

[88, 95, 70, 100, 99, 80]

In [33]:
score[2:6]=[]
print(score)

[88, 95]

In [34]:
del (score(95))

SyntaxError: cannot delete function call (<ipython-input-34-8f816d3208d9>, line 1)

In [42]:
help(del)

SyntaxError: invalid syntax (<ipython-input-42-9551bede5a1f>, line 1)

In [47]:
score = [88,95,70,100,99]
print(score.pop(2))
print(score)
print(score.pop())
print(score)
print(score.pop(1))
print(score)

70
[88, 95, 100, 99]
99
[88, 95, 100]
95
[88, 100]

In [51]:
score=[88,95,70,100,99,80,78,50]
perfect = score.index(100)
print('만점 받은 학생은',str(perfect+1),'번입니다')

만점 받은 학생은 4 번입니다

In [52]:
pernum = score.count(100)
print('만점자 수는',str(pernum)+'명입니다')

만점자 수는 1명입니다

In [53]:
print('학생 수는 %d명입니다'%len(score))
print('최고 점수는 %d점 입니다'%max(score))
print('최저 점수는 %d점 입니다'%min(score))

학생 수는 8명입니다
최고 점수는 100점 입니다
최저 점수는 50점 입니다

In [72]:
ans = input('결제하겠습니까?')
if ans in ['yes','y','ok','예','네','당근']:
    print('구입해주셔서 감사합니다')
else:
    print('안녕히 가세요')

결제하겠습니까?당근
구입해주셔서 감사합니다

In [76]:
ans = input('결제하겠습니까?')
if ans == 'y' or ans == 'yes' or ans == 'ok' or ans =='예' or ans =='당근':
    print('구입해주셔서 감사합니다')

결제하겠습니까?no

In [78]:
score = [88,95,70,100,99]
score.sort()
print(score)

[70, 88, 95, 99, 100]

In [79]:
score.reverse()
print(score)

[100, 99, 95, 88, 70]

In [80]:
print(score.sort())

None

In [85]:
score = [88,95,70,100,99]
score2 = sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]

In [86]:
country =["Korea","japan","CHINA","america"]
country.sort()
print(country)

['CHINA', 'Korea', 'america', 'japan']

In [87]:
country.sort(key=str.lower)
print(country)

['america', 'CHINA', 'japan', 'Korea']

In [89]:
country.sort(key=str.upper)
print(country)

['america', 'CHINA', 'japan', 'Korea']

In [90]:
score = (88,95,70,100,99)
sum =0
for s in score:
    sum += s
print('총점 :',sum)
print('평균 :', sum/len(score))

총점 : 452
평균 : 90.4

In [91]:
tu = 2,
value = 2
print(tu)
print(value)

(2,)
2

In [92]:
tu = 1,2,3,4,5
print(tu)

(1, 2, 3, 4, 5)

In [93]:
tu = list(tu)
print(tu)

[1, 2, 3, 4, 5]

In [94]:
tu = tuple(tu)
print(tu)

(1, 2, 3, 4, 5)

In [95]:
print(tu[3])

4

In [96]:
print(tu[1:3])

(2, 3)

In [97]:
print(tu+(6,7))

(1, 2, 3, 4, 5, 6, 7)

In [98]:
print(tu*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [99]:
tu[1] = 100
print(tu)

TypeError: 'tuple' object does not support item assignment

In [100]:
del tu[1]

TypeError: 'tuple' object doesn't support item deletion

In [101]:
score = [88, 98, 70, 100, 99]
tuple(score)

(88, 98, 70, 100, 99)

In [102]:
tu.extend(1,2)
print(tu)

AttributeError: 'tuple' object has no attribute 'extend'

In [103]:
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [105]:
print(tu)

('이순신', '김유신', '강감찬')

In [106]:
a, b = 12, 34
print(a,b)
a,b = b, a
print(a,b)

12 34
34 12

In [108]:
import time

def gettime():
    now = time.localtime()
    return now.tm_hour, now.tm_min

result = gettime()
print(gettime())
print(result)
print('지금은 %d시 %d분입니다'%(result[0],result[1]))

(19, 55)
(19, 55)
지금은 19시 55분입니다

In [110]:
print(time.localtime())

time.struct_time(tm_year=2021, tm_mon=1, tm_mday=31, tm_hour=19, tm_min=55, tm_sec=25, tm_wday=6, tm_yday=31, tm_isdst=0)

In [111]:
d, m = divmod(7,3)
print('몫',d)
print('나머지',m)

몫 2
나머지 1

In [112]:
score = [88,95,70,100,99]
score[1]=0
print(score)

[88, 0, 70, 100, 99]

In [113]:
num = [i for i in range(2,101,2)]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [114]:
num = [i for i in range(1,101) if i %2 ==0]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [118]:
num = [i*2 for i in range(1,51)]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [120]:
for n in range(1,10):
    if n%3 ==0:
        print(n*n)

9
36
81

In [121]:
num = [n*n for n in range(1,10) if n %3 ==0]
print(num)

[9, 36, 81]

In [126]:
nums = []
for n in range(1,10):
    if n % 3 == 0:
        nums.append(n*n)
print(nums)
        
for i in nums:
    print(i, end=',')

[9, 36, 81]
9,36,81,

In [128]:
li = []
for i in range(1,6):
    score = int(input(str(i)+'번 학생의 성적을 입력하세요 :'))
    li.append(score)
li.sort()
print(li)

1번 학생의 성적을 입력하세요 :100
2번 학생의 성적을 입력하세요 :99
3번 학생의 성적을 입력하세요 :88
4번 학생의 성적을 입력하세요 :77
5번 학생의 성적을 입력하세요 :66
[66, 77, 88, 99, 100]

In [130]:
li = []
for i in range(1,6):
    score = int(input(str(i)+'번 학생의 성적을 입력하세요 :'))
    li.append(score)
print(li)

1번 학생의 성적을 입력하세요 :99
2번 학생의 성적을 입력하세요 :88
3번 학생의 성적을 입력하세요 :7
4번 학생의 성적을 입력하세요 :66
5번 학생의 성적을 입력하세요 :55
[99, 88, 7, 66, 55]

In [54]:
f = open("Rimbaud.txt",'wt')
f.write("""감각
여름 푸른 저녁이면 들길을 가리라\n밀잎에 찔리고, 잔풀을 밟으며\n하여 몽상가의 발밑으로 그 신선함 느끼리
바람은 저절로 내 맨머리를 씻겨주겠지\n말도 않고, 생각도 않으리
그러나 한없는 사람은 내 넋 속에 피어 오르리니,\n나는 가리라,멀리,저 멀리, 보헤미안처럼
계집애 데려가듯 행복하게, 자연 속으로""")
f.close()

In [55]:
try:
    f = open('Rimbaud.txt','rt')
    text = f.read()
    print(text)
except:
    print('파일이 없습니다')
finally:
    f.close()

감각
여름 푸른 저녁이면 들길을 가리라
밀잎에 찔리고, 잔풀을 밟으며
하여 몽상가의 발밑으로 그 신선함 느끼리
바람은 저절로 내 맨머리를 씻겨주겠지
말도 않고, 생각도 않으리
그러나 한없는 사람은 내 넋 속에 피어 오르리니,
나는 가리라,멀리,저 멀리, 보헤미안처럼
계집애 데려가듯 행복하게, 자연 속으로

In [67]:
f = open('Rimbaud.txt','rt')
f1 = open('Rimbaud2.txt','wt')
row = f.readlines()

for r in row:
    if not row:
        break
    else:
        print(r)
        f1.write(r)
f.close()

감각

여름 푸른 저녁이면 들길을 가리라

밀잎에 찔리고, 잔풀을 밟으며

하여 몽상가의 발밑으로 그 신선함 느끼리

바람은 저절로 내 맨머리를 씻겨주겠지

말도 않고, 생각도 않으리

그러나 한없는 사람은 내 넋 속에 피어 오르리니,

나는 가리라,멀리,저 멀리, 보헤미안처럼

계집애 데려가듯 행복하게, 자연 속으로

In [68]:
f = open('Rimbaud2.txt','rt')
for line in f:
    print(line)
f.close()

감각

여름 푸른 저녁이면 들길을 가리라

밀잎에 찔리고, 잔풀을 밟으며

하여 몽상가의 발밑으로 그 신선함 느끼리

바람은 저절로 내 맨머리를 씻겨주겠지

말도 않고, 생각도 않으리

그러나 한없는 사람은 내 넋 속에 피어 오르리니,

나는 가리라,멀리,저 멀리, 보헤미안처럼

계집애 데려가듯 행복하게, 자연 속으로

In [84]:
f3 = f1
print(f3)

<_io.TextIOWrapper name='Rimbaud2.txt' mode='wt' encoding='cp949'>