In [1]:
for n in range(1,10):
    if n%3 ==0:
        print(n*n)

9
36
81

In [5]:
nums=[]
for n in range(1,10):
    if n%3 == 0:
        nums.append(n*n)
        
print(nums)

for i in nums:
    print(i,end=',')

[9, 36, 81]
9,36,81,

In [11]:
nums = []
for i in range(1,6):
    i = input('성적을 입력하세요 : ')
    nums.append(i)

print(sorted(nums))

nums.sort()
print(nums)

성적을 입력하세요 : 99
성적을 입력하세요 : 88
성적을 입력하세요 : 77
성적을 입력하세요 : 66
성적을 입력하세요 : 55
['55', '66', '77', '88', '99']
['55', '66', '77', '88', '99']

In [13]:
li = []
for i in range(1,6):
    score = int(input(str(i)+'번 학생의 성적을 입력하세요 : '))
    li.append(score)

print(li)

1번 학생의 성적을 입력하세요 : 99
2번 학생의 성적을 입력하세요 : 87
3번 학생의 성적을 입력하세요 : 32
4번 학생의 성적을 입력하세요 : 89
5번 학생의 성적을 입력하세요 : 65
[99, 87, 32, 89, 65]

In [14]:
dic = {'boy':'소년','school':'학교','book':'책'}
print(dic['boy'])
print(dic['소년'])

소년

KeyError: '소년'

In [15]:
print(dic[1])

KeyError: 1

In [16]:
print(dic.get('boy'))
print(dic.get('student'))
print(dic.get('student','사전에 없는 단어입니다'))

소년
None
사전에 없는 단어입니다

In [17]:
if 'student' in dic:
    print('사전에 있는 단어입니다')
else:
    print('사전에 없는 단어입니다')

사전에 없는 단어입니다

In [18]:
dic['boy'] = 'girl'
dic['sky'] = 'earth'
del dic['book']
print(dic)

{'boy': 'girl', 'school': '학교', 'sky': 'earth'}

In [20]:
dic['boy']=[]
print(dic)

{'boy': [], 'school': '학교', 'sky': 'earth'}

In [21]:
dic = {'boy':'소년','school':'학교','book':'책'}
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [ ]:
keylist = dic.keys()
for key in keylist

In [23]:
dic = {'boy':'소년','school':'학교','book':'책'}
dic2 = {'student':'학생','teacher':'선생님','book':'서적'}
dic.update(dic2)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '서적', 'student': '학생', 'teacher': '선생님'}

In [26]:
song = """by the reivers of babylon, there we sat down
yeah we wept, when we remenber zion.
when the wicked carried us away in captivity
required from us a song
now how shall we sing the lord's song in a strange land"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else:
        alphabet[c]+=1
        
print(alphabet)

{'b': 4, 'y': 5, 't': 9, 'h': 9, 'e': 23, 'r': 12, 'i': 10, 'v': 2, 's': 10, 'o': 10, 'f': 2, 'a': 12, 'l': 5, 'n': 14, 'w': 12, 'd': 6, 'p': 2, 'm': 2, 'z': 1, 'c': 3, 'k': 1, 'u': 3, 'q': 1, 'g': 4}

In [40]:
alphabet=dict()
for i in song:
    if i.isalpha() == False:
        continue
    c = c.lower()
    if i not in alphabet:
        alphabet[i] = 1
    else:
        alphabet[i] += 1
        
li = list(alphabet.keys())
li.sort()
print(li)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'y', 'z']

In [51]:
alphabet =dict()
for i in song:
    if i.isalpha()==False:
        continue
    i = i.lower()
    if i not in alphabet:
        alphabet[i] =1
    else:
        alphabet[i] += 1

for a in range(ord('a'),ord('z')+1):
    c = chr(a)
    num = alphabet.get(c,0)
    print(c, '=', num)

a = 12
b = 4
c = 3
d = 6
e = 23
f = 2
g = 4
h = 9
i = 10
j = 0
k = 1
l = 5
m = 2
n = 14
o = 10
p = 2
q = 1
r = 12
s = 10
t = 9
u = 3
v = 2
w = 12
x = 0
y = 5
z = 1

In [52]:
asia = {'korea','china','japan','korea'}
print(asia)

{'korea', 'china', 'japan'}

In [53]:
print(set('samghyung'))
print(set([12,34,56,78]))
print(set({'신지희','한주완','김태륜'}))
print(set({'boy':'소년','school':'학교','book':'책'}))
print(set())

{'m', 'u', 's', 'g', 'y', 'a', 'n', 'h'}
{56, 34, 12, 78}
{'신지희', '김태륜', '한주완'}
{'boy', 'school', 'book'}
set()

In [61]:
asia =  {'korea','china','japan'}
asia.add('vietnam')
print(asia)

{'korea', 'china', 'vietnam', 'japan'}

In [62]:
asia.add('china')
print(asia)

{'korea', 'china', 'vietnam', 'japan'}

In [63]:
asia.remove('japan')
print(asia)

{'korea', 'china', 'vietnam'}

In [64]:
asia.update({'singapore','hongkong','korea'})
print(asia)

{'singapore', 'korea', 'hongkong', 'china', 'vietnam'}

In [66]:
a = {'korea','china','japan'}
b = {'singapore','hongkong','korea'}
a.update(b)
print(a)

None
{'singapore', 'korea', 'japan', 'hongkong', 'china'}

In [72]:
rainbow  ={'빨':'red', '주':'orange','노':'yellow','초':'green','파':'blue','남':'indigo','보':'purple'}
print(rainbow.get('초'))
print(rainbow['초'])

green
green

In [74]:
no = 1
score = [88, 95, 70, 100, 99]
for i in score:
    print(str(no)+'번째 학생의 성적 : ',i)
    no += 1

1번째 학생의 성적 :  88
2번째 학생의 성적 :  95
3번째 학생의 성적 :  70
4번째 학생의 성적 :  100
5번째 학생의 성적 :  99

In [76]:
for i in range(len(score)):
    print(str(i+1)+'번 학생의 성적 :',score[i])

1번 학생의 성적 : 88
2번 학생의 성적 : 95
3번 학생의 성적 : 70
4번 학생의 성적 : 100
5번 학생의 성적 : 99

In [77]:
for i in range(len(score)):
    print(str(i+1)+'번째 학생의 성적 :',score[i])

1번째 학생의 성적 : 88
2번째 학생의 성적 : 95
3번째 학생의 성적 : 70
4번째 학생의 성적 : 100
5번째 학생의 성적 : 99

In [81]:
for a, b in enumerate(score, 1):
    print(a,'/',b)
    print(str(a)+'번째 학생의 성적 :', b)
    print()

1 / 88
1번째 학생의 성적 : 88

2 / 95
2번째 학생의 성적 : 95

3 / 70
3번째 학생의 성적 : 70

4 / 100
4번째 학생의 성적 : 100

5 / 99
5번째 학생의 성적 : 99

In [78]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [84]:
yoil = ['월','화','수','목','금','토','일']
food = ['갈비탕','순대국','칼국수','삼겹살']
menu = zip(yoil,food)
print(menu)
menu2 = dict(zip(yoil,food))
print(menu2)
for y,f in menu:
    print('%s요일 메뉴: %s'%(y,f))

<zip object at 0x0000027A30A7D4C0>
{'월': '갈비탕', '화': '순대국', '수': '칼국수', '목': '삼겹살'}
월요일 메뉴: 갈비탕
화요일 메뉴: 순대국
수요일 메뉴: 칼국수
목요일 메뉴: 삼겹살

In [90]:
menu = zip(yoil,food)
for a, b in menu:
    print('%s요일 메뉴 :%s'%(a,b))

월요일 메뉴 :갈비탕
화요일 메뉴 :순대국
수요일 메뉴 :칼국수
목요일 메뉴 :삼겹살

In [93]:
yoil = ['월','화','수','목','금','토','일']
food = ['갈비탕','순대국','칼국수','삼겹살']
mood = ['happy','soso','bad','not bad']
menu = zip(yoil, food, mood)
print(menu)

<zip object at 0x0000027A30816540>

In [94]:
for a, b, c in menu:
    print('%s요일 메뉴 : %s, %s'%(a,b,c))

월요일 메뉴 : 갈비탕, happy
화요일 메뉴 : 순대국, soso
수요일 메뉴 : 칼국수, bad
목요일 메뉴 : 삼겹살, not bad

In [95]:
adult=[True, False, True, False]
print(any(adult))
print(all(adult))

True
False

In [103]:
def flunk(s):
    return s < 60

score = [45,89,72,53,94]
for i in filter(flunk,score):
    print(i)

45
53

In [107]:
n = 1
for s in score:
    if flunk(s):
        print('%d번째 학생 낙제'%n,'\n'+'점수 : %d'%s)
    else:
        continue
    n +=1

1번째 학생 낙제
점수 : 45
2번째 학생 낙제
점수 : 53

In [105]:
flunk(45)

True

In [113]:
def half(s):
    return s/2

score = [45, 89, 72, 53, 94]
for s in map(half, score):
    print(s, end='/')
    
print()

22.5/44.5/36.0/26.5/47.0/

In [116]:
for s in score:
    print(half(s),end='/')

22.5/44.5/36.0/26.5/47.0/

In [118]:
def total(s,b):
    return s + b

score = [45,89,72,53,94]
bonus = [2,3,0,0,5]
for s in map(total, score, bonus):
    print(s, end=',')

47,92,72,53,99,

In [119]:
for s in map(total, bonus, score):
    print(s, end='/')

47/92/72/53/99/

In [124]:
lambda x : (x+1)
print(lambda(3))

SyntaxError: invalid syntax (<ipython-input-124-088601a80e87>, line 2)

In [123]:
def a(x):
    return x+1

print(a(2))

3

In [125]:
score = [45, 89, 72, 53, 94]
for s in filter(lambda x : x<60, score):
    print(s)

45
53

In [129]:
for s in filter(lambda x: x*2, score):
    print(s)

45
89
72
53
94

In [128]:
for s in map(lambda x: x*2, score):
    print(s)

90
178
144
106
188

In [130]:
for s in map(lambda x: x/2, score):
    print(s)

22.5
44.5
36.0
26.5
47.0

In [135]:
a = 3
b = a
print('a=%d, b=%d'%(a,b))

a=3, b=3

In [136]:
a = 5
print('a=%d, b=%d'%(a,b))

a=5, b=3

In [137]:
b = 7
print('a=%s, b=%s'%(a,b))

a=5, b=7

In [133]:
list1 = [1,2,3]
list2 = list1

list2[2]=100
print(list1)
print(list2)

[1, 2, 100]
[1, 2, 100]

In [138]:
list1[1]=44444
print(list1)
print(list2)

[1, 44444, 100]
[1, 44444, 100]

In [139]:
list1 = [1,2,3]
list2 = list1.copy()

list2[1]=100
print(list1)
print(list2)

[1, 2, 3]
[1, 100, 3]

In [140]:
list1 = [1,2,3]
list2 = list1.copy()

list1[2]=7777
print(list1)
print(list2)

[1, 2, 7777]
[1, 2, 3]

In [146]:
list0=[1,2]
list1=[list0,1,2]
list2=list1.copy()
print(list2)
print()

list2[0][1]="---"
print(list0)
print(list1)
print(list2)

[[1, 2], 1, 2]

[1, '---']
[[1, '---'], 1, 2]
[[1, '---'], 1, 2]

In [150]:
id(list1[0])

2723826756160

In [148]:
id(list2[0])

2723826756160

In [149]:
id(list0)

2723826756160

In [151]:
import copy

list0=[1,2]
list1=[list0,1,2]
list2=copy.deepcopy(list1)
print(list2)
print()

list2[0][1] = '---'
print(list0)
print(list1)
print(list2)

[[1, 2], 1, 2]

[1, 2]
[[1, 2], 1, 2]
[[1, '---'], 1, 2]

In [153]:
list1 = [1,2,3]
list2 = list1
list3 = list1.copy()

print(list1)
print(list2)
print(list3)

print('1==2', list1 is list2)
print('1==3', list1 is list3)
print('2==3', list2 is list3)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
1==2 True
1==3 False
2==3 False

In [154]:
a = 1
b = a
print('a = %s, b = %s :'%(a,b), a is b)

b = 2
print('a = %s, b = %s :'%(a,b), a is b)

a = 1, b = 1 : True
a = 1, b = 2 : False

In [156]:
a = [n for n in range(1,11)]
b = [n*n for n in range(1,11)]
print(a)
print(b)
print()
c = dict(zip(a,b))
print(c)
print(c[6])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
36

In [157]:
price = [3500, 6000, 10000, 50000, 130000]

def calc(n):
    return n*0.8

for i in map(calc,price):
    print(i)

2800.0
4800.0
8000.0
40000.0
104000.0

In [158]:
for i in map(lambda x:x*0.8, price):
    print(i)

2800.0
4800.0
8000.0
40000.0
104000.0

In [159]:
# 예제
score = [77,88,99,66,55]
score2 = score
score2[3]=100
print(score[3])

100

In [160]:
import math
print(math.sqrt(2))

1.4142135623730951

In [161]:
from math import sqrt
print(sqrt(2))

1.4142135623730951

In [162]:
import math as m
print(m.sqrt(2))

1.4142135623730951

In [163]:
from math import sqrt as sq
print(sq(2))

1.4142135623730951

In [164]:
import time
print(time.time())

1612188255.4424586

In [166]:
import time

t = time.time()
print(time.ctime(t))

Mon Feb  1 23:05:04 2021

In [167]:
print(time.ctime())

Mon Feb  1 23:05:15 2021

In [168]:
import time

t = time.time()
print(time.localtime(t))

time.struct_time(tm_year=2021, tm_mon=2, tm_mday=1, tm_hour=23, tm_min=5, tm_sec=56, tm_wday=0, tm_yday=32, tm_isdst=0)

In [172]:
import time
now = time.localtime()
print('%d년 %d월 %d일' %(now.tm_year,now.tm_mon,now.tm_mday))
print('%d:%d:%d' %(now.tm_hour, now.tm_min, now.tm_sec))

2021년 2월 1일
23:8:30

In [173]:
import time
start = time.time()
for a in range(1000):
    print(a,end=',')
print()
print()
end = time.time()
print(end-start)

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,

0.07602286338806152

In [174]:
import time

print('안녕하세요')
time.sleep(2)
print('밤에 성시경이 두 명 있으면 뭘까요?')
time.sleep(4)
print('야간투시경입니다')

안녕하세요
밤에 성시경이 두 명 있으면 뭘까요?
야간투시경입니다

In [178]:
import time

for dan in range(2,10):
    print(dan, '단')
    time.sleep(1)
    for hang in range(1,10):
        print(dan,'*',hang,'=', dan*hang)
    time.sleep(2)
    print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [179]:
import calendar

print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [181]:
print(calendar.month(2021,2))

   February 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [182]:
calendar.prcal(2021)

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [191]:
import calendar

yoil = ['월','화','수','목','금','토','일']
day = calendar.weekday(2021,8,15)
print('광복절은', yoil[day]+'요일이다')

광복절은 일요일이다

In [192]:
import calendar

print(calendar.weekday(2021,2,15))

0

In [194]:
import time

yoil = ['월','화','수','목','금','토','일']
day = calendar.weekday(2021,2,2)
print('2월 2일은',yoil[day] ,'요일이다')

2월 2일은 화 요일이다

In [195]:
day = calendar.weekday(2021,8,15)
print('광복절은',str(day),'요일이다')

광복절은 6 요일이다