# 2. 변수

In [5]:
if age > 19:
    print("성인입니다")

NameError: name 'age' is not defined

In [4]:
for a in range(5):
    print(a)

0
1
2
3
4

print(출력내용 [, sep=구분자] [,end=끝문자])

In [6]:
print(3+4)

7

In [8]:
value = 1234
print(value)
print(value * 2)

1234
2468

In [9]:
value

1234

In [11]:
print(3+4)
4 * 5   # 무시된다
a = 1
b = 2
print(a + b)

7
3

In [12]:
a = 12
b = 34
print(a, b)

12 34

In [14]:
print(a, b, sep =',')

12,34

In [15]:
print(a, b, sep='')

1234

In [16]:
print(a, b, sep = '---->')

12---->34

In [19]:
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep=' 찍고, ')

서울 찍고, 대전 찍고, 대구 찍고, 부산

In [20]:
# 연이은 print 문은 새로운 줄에 출력
a = '강아지'
b = '고양이'
print(a)
print(b)

강아지
고양이

In [21]:
a = '강아지'
b = '고양이'
print(a, end='')
print(b)

강아지고양이

변수 = input('질문 내용')

In [25]:
age = input('몇 살이세요? ')
print(age)    # 사용자가 입력한 값을 age 변수에 제대로 입력되었는지 출력한 것.

몇 살이세요? 30
30

In [28]:
# 문제 : 가격을 입력받아 price 변수에 대입하고 개수를 입력받아 num변수에 대입. 총액 계산

price = input('가격을 입력하세요 : ')
num = input('개수를 입력하세요 : ')
sum = int(price) * int(num)
print('총액은', sum, '원입니다')

가격을 입력하세요 : 5000
개수를 입력하세요 : 3
총액은 15000 원입니다

In [30]:
price = int(input('가격을 입력하세요'))
num = int(input('개수를 입력하세요'))
#sum = price * num
#print('총액은',sum,'입니다')
print('총액은',price * num,'원입니다')

가격을 입력하세요5000
개수를 입력하세요3
15000

In [33]:
# 이름을 입력하세요
name = input('이름을 입력하세요')
print('안녕하세요!', name+'님~')

이름을 입력하세요송승은
안녕하세요! 송승은님~

In [34]:
score = 100

In [35]:
score

100

In [36]:
print(score)

100

In [37]:
a = 1234

In [38]:
type(a)

int

In [39]:
a = '안녕'

In [40]:
type(a)

str

In [41]:
print('')

In [47]:
# 사각형의 폭과 높이를 각각 width, height 변수에 입력받아 면적을 구해 출력하라
width = int(input("폭을 입력하세요 : "))
height = int(input("높이를 입력하세요 : "))
size = width * height
print('면적은',size,'입니다')

폭을 입력하세요 : 30
높이를 입력하세요 : 30
면적은 900 입니다

# 3. 타입

In [48]:
print(hex(26))        # 16진법(hexadecimal)
print(oct(26))        # 8진법(octal)
print(bin(13))        # 2진법(binary)

0x1a
0o32
0b1101

In [50]:
# 가수E지수
9.46e12

9460000000000.0

In [51]:
bill = 1.032e14
lee = 2.04e13
print('빌게이츠의 재산은',bill,'이고, 이건희의 재산은',lee,'이다')

빌게이츠의 재산은 103200000000000.0 이고, 이건희의 재산은 20400000000000.0 이다

In [52]:
# 복소수형 = 제곱해서 음수가 되는 가상의 숫자

a = 1+2j
b = 3+4j
print( a+ b)

(4+6j)

In [54]:
a = "Korea 서울 1234"
print(a)
type(a)

Korea 서울 1234

str

In [55]:
print('I Say "Help" to you')

I Say "Help" to you

In [56]:
print("let's go")

let's go

\n = 개행

\t = 탭

\\" = 큰따옴표

\\' =작은따옴표

\\\ = \ 문자

In [57]:
print("I Say \"Help\" to you")

I Say "Help" to you

In [58]:
a = "first\nsecond"
print(a)

first
second

In [62]:
a = "old\\new"
print(a)
print()
b= "old\new"       # \n으로 인식해서 개행
print(b)

old\new

old
ew

In [66]:
print("c:\temp\new.txt")         # \t  /  \n 으로 인식
print()
print(r"c:\temp\new.txt")        # 경로를 그대로 출력하기 위해 전부 \\를 두번씩 쓰기에는 번거로움. 문자열 앞에 r 접두를 붙인다

c:	emp
ew.txt

c:\temp\new.txt

In [68]:
#긴문자열 - 따옴표 3개 연속 사용
s = """강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀
구름에 달 가듯이 가는 나그네"""
print(s)

강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀
구름에 달 가듯이 가는 나그네

In [70]:
#긴문자열 - \(역슬래시) 사용 - 개행하지 않고 줄이 계속 이어진다는 뜻
s="강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네\
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀\
구름에 달 가듯이 가는 나그네"
print(s)

강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀구름에 달 가듯이 가는 나그네

In [72]:
totalsec = 365 * 24 * \
           60 * 60   #행의 들여쓰기는 상관X
print(totalsec)

31536000

In [3]:
s = "대한""민국""2002"
print(s)

대한민국2002

In [2]:
s = "대한","민국","2002"
print(s)

('대한', '민국', '2002')

In [4]:
s = ("대한"
     "민국"
     "2002")
print(s)

대한민국2002

In [5]:
a = "대한"
b = "민국"
print(a+b)

대한민국

In [6]:
print("a+b")

a+b

In [42]:
print("좋아, 아주좋아~!   " * 3 )

좋아, 아주좋아~!   좋아, 아주좋아~!   좋아, 아주좋아~!

In [44]:
print('-' *80, end='>')

-------------------------------------------------------------------------------->

In [78]:
# ord 함수 = 문자의 코드를 조사  / chr = 코드로부터 문자를 구현

print(ord('a'))
print(chr(98))
for c in range(ord('A'), ord('Z')+1):
    print(chr(c), end='')

97
b
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [7]:
a = 5
b = a == 5
print(b)

True

In [8]:
a = 5
b = a ==4
print(b)

False

In [9]:
if a == 5:
    print("a는 5입니다")

a는 5입니다

In [10]:
a = None
print(a)

None

In [12]:
member = ['손오공','저팔계','사오정','삼장법사']
for m in member:
    print(m,"출동")

손오공 출동
저팔계 출동
사오정 출동
삼장법사 출동

---
Q 문제 : 봄, 여름, 가을, 겨울 계절명을 season 문자열 변수에 저장하되 출력 시 각 줄에 계절이 따로 나오도록 정의하라

In [19]:
season =['봄','여름','가을','겨울']
for s in season:
    print(s)   
print()
print("\n문자열 변수가 아니므로 오답입니다!!!")

봄
여름
가을
겨울


문자열 변수가 아니므로 오답입니다!!!

In [17]:
season = "봄\n여름\n가을\n겨울"
print(season)

봄
여름
가을
겨울

---
Q 문제 : 문자 K의 코드값을 출력하고 코드값 100의 문자가 무엇인지 조사하여 출력하라

In [22]:
print(ord("K"))
print(chr(100))

75
d

# 4장. 연산자

In [ ]:
** = 거듭제곱
\\ = 정수 나누기
% = 나머지

In [23]:
11 ** 2

121

In [24]:
2 ** 10

1024

In [25]:
5 / 2

2.5

In [26]:
5 // 2   #소수부 0.5를 버리고 정수부 2만 계산

2

---
Q. 문제 : 초코파이 한 개는 400원이다. 1000원으로 몇 개를 살 수 있는가?

In [27]:
pie = 400
1000 // pie

2

In [32]:
# 나머지 연산자는 배수 여부르르 판별할 때 흔히 사용한다

7 % 2

1

In [30]:
8 % 3

2

In [31]:
9 % 3

0

In [33]:
# 복합 대입 연산자

a = 5
a = a + 1
print(a)

6

In [35]:
a += 1
print(a)

8

---
Q. 문제 : 상품 가격을 90%로 세일한다.

In [37]:
saleprice *= 0.9

NameError: name 'saleprice' is not defined

In [45]:
print("korea"+2002)

TypeError: can only concatenate str (not "int") to str

In [46]:
print("korea"+str(2002))

korea2002

In [47]:
print(10 + "22")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
print(10 + int("22"))

32

In [50]:
print(10 + int("22%"))    # 덧셈은 정수 + 정수

ValueError: invalid literal for int() with base 10: '22%'

In [52]:
print(10 + int("22.5"))   # 22.5는 정수가 X

ValueError: invalid literal for int() with base 10: '22.5'

In [53]:
print(10+0x1a)

36

In [55]:
print(10 + float("22.5"))   # 22.5는 실수. 실수 = float

32.5

In [56]:
print(10 + int(float("22.5")))

32

In [59]:
# round 함수는 실수를 반올림

print(int(2.54))
print(round(2.54))
print(round(2.54, 1))
print(round(123456, -3))

2
3
2.5
123000

In [62]:
a = 1 + 2 * 3
print(a)

7

In [63]:
a = (1 + 2) * 3
print(a)

9

---
Q. 문제 : name 변수에 이름이 저장되어 있고 score 변수에 점수가 저장되어 있다. 이 두 변수로부터 "홍길동 98점"이라는 문자열로 조립한다

In [68]:
name = input("이름을 입력하세요 : ")
score = input("점수를 입력하세요 : ")
print(name+str(score)+"점")

이름을 입력하세요 : 송승은
점수를 입력하세요 : 100
송승은100점

# 5장. 조건문

## 5-1. if문

In [1]:
age = int(input("너 몇살이니? "))
if age < 19 :
    print("애들은 가라")

너 몇살이니? 18
애들은 가라

==
!=
<
>
<=
>=

In [2]:
a = 3
if a == 3 :
    print("3이다")
if a > 5 :
    print("5보다 크다")
if a < 5 :
    print("5보다 작다")

3이다
5보다 작다

In [7]:
country = "Korea"
if country == "Korea":
    print("한국입니다")
if country == "Korea":
    print("대한민국입니다.")

한국입니다
대한민국입니다.

In [10]:
# 사전의 더 뒤쪽에 나오는 문자열을 큰 것으로 평가한다

if ("Korea" > "Japan"):
    print("한국이 더 크다")
if ("Korea" < "Japan") :
    print("일본이 더 크다")

한국이 더 크다

In [13]:
# 숫자 - 0이 아닌 숫자(True) / 0 (False),  
# 문자열 - 비어있지 않은 상태(True) / "" (False) ,  
# 리스트 튜플 딕셔너리 - 비어있지 않은 상태(True) / 빈 상태(False)

energy = 1
if energy:
    print("열심히 싸운다")

열심히 싸운다

In [14]:
# andrange

a = 3
if a > 1 and a < 10 :
    print("OK")

OK

In [15]:
a = 3
if 1 < a < 10 :
    print("OK")

OK

## 5-2. 블록 구조 : 조건문이 참일 때 실행할 명령이 2개 이상이면 아래쪽으로 명령을 계속 나열

In [16]:
age = 16
if age < 19:
    print("애들은 가라")
    print("공부 열심히 해야지")

애들은 가라
공부 열심히 해야지

In [18]:
age = 22
if age < 19 :
    print("애들은 가라")      # 블록
print("공부 열심히 해야지")   # 블록 외부의 명령

공부 열심히 해야지

In [19]:
age = 22
if age < 19 :
    print("애들은 가라")
else :
    print("어서 옵쇼")

어서 옵쇼

In [20]:
age = 12
if age < 19 :
    print("애들은 가라")
    print("공부 열심히 해야지")
else:
    print("어서 옵쇼")
    print("즐거운 시간 되세요")

애들은 가라
공부 열심히 해야지

In [21]:
age = 23
if age < 19:
    print("애들은 가라")
elif age < 25:
    print("대학생입니다.")
else:
    print("어서 옵쇼")

대학생입니다.

In [22]:
age = 23
if age < 19:
    print("애들은 가라")
else:
    if age < 25:
        print("대학생입니다")
    else:
        print("어서 옵쇼")

대학생입니다

In [23]:
money = 6500
if money >= 20000:
    print("탕수육을 먹는다")
elif money >= 10000:
    print("쟁반 짜장을 먹는다")
elif money >= 6000:
    print("짬뽕을 먹는다")
elif money >= 4000:
    print("짜장면을 먹는다")
else:
    print("단무지를 먹는다")

짬뽕을 먹는다

In [24]:
money = 6500
if money >= 20000:
    print("탕수육을 먹는다")
else:
    if money >= 10000:
        print("쟁반 짜장을 먹는다")
    else:
        if money >= 6000:
            print("짬뽕을 먹는다")
        else:
            if money >= 4000:
                print("짜장면을 먹는다")
            else:
                print("단무지를 먹는다")

짬뽕을 먹는다

In [26]:
man = True
age = 22
if man == True:
    if age >= 19:
        print("성인 남자입니다")

성인 남자입니다

In [27]:
if man == True and age >= 19:
    print("성인 남자입니다")

성인 남자입니다

---
Q. 문제 : 점수를 입력받은 후 80점 이상이면 합격, 80점 미만이면 불합격을 출력하라

In [29]:
exam = int(input("점수를 입력하시오 : "))
if exam >= 80:
    print("합격")
else:
    print("불합격")

점수를 입력하시오 : 78
불합격

---
Q. 문제 : 한국의 수도는 어디인지 질문 후 입력받아 정답을 맞추었으면 정답이라는 메시지를 출력하고 축하한다는 메시지도 같이 출력하라. 정답이 아니면 아무것도 하지 않는다

In [30]:
exam = input("한국의 수도는 어디인가 : ")
if exam == "서울":
    print("정답")
    print("축하합니다")

한국의 수도는 어디인가 : 서울
정답
축하합니다

---
Q. 문제 : age와 height 변수가 주어졌을 때 8세 이상이고, 키 100 이상인 경우만 놀이기구를 탈 수 있다는 조건문을 작성하라

In [34]:
age = 8
height = 100
if age >= 8 and height >= 100 :
    print("놀이기구를 탈 수 있습니다")

놀이기구를 탈 수 있습니다

---
Q. 문제 : dir 변수에는 "동", "서", "남", "북" 넷 중 하나의 방향 값이 들어간다. 이 변수의 값에 따라 서울에서 각 방향에 있는 도시 하나를 출력하는 프로그램을 작성하라. 엉뚱한 값이 들어 있으면 에러 처리한다.

In [35]:
dir = input("동, 서, 남, 북 중 하나를 입력하세요 : ")
if dir == "동":
    print("울릉도")
elif dir == "서":
    print("인천")
elif dir == "남":
    print("거제도")
elif dir == "북":
    print("북한")
else:
    print("ERROR")

동, 서, 남, 북 중 하나를 입력하세요 : 동
울릉도

---
Q. 문제 : 정수 하나를 입력받아 5의 배수인지 조사하여 그 결과를 출력하라

In [38]:
a = int(input("정수 하나를 입력하시요 : "))
if a % 5 == 0:
    print("5의 배수입니다")
else:
    print("5의 배수가 아닙니다")

정수 하나를 입력하시요 : 88
5의 배수가 아닙니다

---
Q. 문제 : 서울우유는 1리터에 2500원이고 매일우유는 1.8리터에 4200원이다. 용량대비 어떤 우유가 더 싼지 계산 및 판단하여 결과를 출력하라

In [39]:
seoul_milk = 2500 / 1000
maeil_milk = 4200 / 1800
if seoul_milk > maeil_milk :
    print("매일우유가 더 저렴합니다")
else:
    print("서울우유가 더 저렴합니다")

매일우유가 더 저렴합니다

# 6장. 반복문

## 6-1. 반복문

In [40]:
student = 1
while student <= 5:
    print(student, "번 학생의 성적을 처리한다.")
    student += 1

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.
4 번 학생의 성적을 처리한다.
5 번 학생의 성적을 처리한다.

In [41]:
# 1 ~ 100까지의 정수 합계를 구한다

num = 1
sum = 0
while num <= 100:
    sum += num
    num += 1
print("sum =", sum)

sum = 5050

In [44]:
# 150 ~300의 모든 홀수 합을 구하라

num = 151
sum = 0
while num <= 300:
    sum += num
    num += 2
print("sum =", sum)

sum = 16875

In [45]:
for student in [1, 2, 3, 4, 5]:
    print(student, "번 학생의 성적을 처리한다.")

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.
4 번 학생의 성적을 처리한다.
5 번 학생의 성적을 처리한다.

In [46]:
sum = 0
for num in range(1, 101):
    sum += num
print("sum=", sum)

sum= 5050

In [48]:
sum = 0
for num in range(2, 101, 2):
    sum += num
print("sum=",sum)

sum= 2550

In [49]:
for a in range(5):
    print("이 문장을 반복합니다.")

이 문장을 반복합니다.
이 문장을 반복합니다.
이 문장을 반복합니다.
이 문장을 반복합니다.
이 문장을 반복합니다.

---
Q. 문제 : ---------+---------+---------+---------+---------+      (10칸마다 + 출력)

In [52]:
for x in range(1,51):
    if x % 10 == 0:
        print("+", end="")
    else:
        print("-", end="")

---------+---------+---------+---------+---------+

In [53]:
for x in range(1,6):
    print("-"*9, end='')
    print("+", end='')

---------+---------+---------+---------+---------+

In [54]:
x = 1
while x <= 50:
    if x % 10 :
        print("-", end='')
    else:
        print("+", end='')
    x += 1

---------+---------+---------+---------+---------+

---
Q. 문제 : 리스트에 저장된 학생 다섯 명의 성적을 출력한다. 성적 데이터가 항상 정확하다면 루프를 끝까지 실행하겠지만 오류가 발생할 수도 있다. 4번째 학생의 성적인 120은 정상적인 성적이 아니다. 성적은 음수가 될 수 없고 100보다 커서도 안 된다.
score = [92, 86, 68, 120, 56]

In [57]:
score = [92, 86, 68, 120, 56]
for s in score:
    if s < 0 or s > 100:
        break
    print(s)
print('성적처리 끝')

92
86
68
성적처리 끝

In [59]:
for s in score:
    if s < 0 or s > 100 :
        continue
    print(s)
print('성적처리 끝')

92
86
68
56
성적처리 끝

## 6-2. 루프의 활용

---
Q. 문제 : 구구단 만들기

In [63]:
for dan in range(2,10):
    print(dan,"단")
    for hang in range(1,10):
        print(dan, "*", hang, "=", dan * hang)
    print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [65]:
dan = 2
while dan <= 9:
    hang = 1
    print(dan,"단")
    while hang <= 9:
        print(dan,"*",hang,"=",dan*hang)
        hang += 1
    print()    
    dan += 1

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

---
Q. 문제

In [78]:
for i in range(1, 10):
    for n in range(i):
        print("*",end='')
    print()

*
**
***
****
*****
******
*******
********
*********

---
Q. 문제 : 덧셈 문제를 출제하고 사용자로부터 정답을 입력받아 답을 체크한다

In [80]:
print("3 + 7 = ? ")
while True:
    a = int(input("정답을 입력하세요 :"))
    if a == 3 + 7:
        break
print("참 잘했어요")

3 + 7 = ?
정답을 입력하세요 :14
정답을 입력하세요 :34
정답을 입력하세요 :41
정답을 입력하세요 :489
정답을 입력하세요 :2
정답을 입력하세요 :16
정답을 입력하세요 :10
참 잘했어요

In [82]:
for ten in range(0,5):
    for num in range(ten * 10, ten * 10 + 10):
        print(num, end=',')
    print()

0,1,2,3,4,5,6,7,8,9,
10,11,12,13,14,15,16,17,18,19,
20,21,22,23,24,25,26,27,28,29,
30,31,32,33,34,35,36,37,38,39,
40,41,42,43,44,45,46,47,48,49,

---
Q. 문제 : while문을 사용하여 1에서 200까지 모든 3의 배수 합계를 계산하라

In [16]:
num = 3
sum = 0

while num <= 200:
    if num % 3 == 0:
        sum += num
        #print(sum)
    else:
        pass
    num += 1
    
print("sum =", sum)

sum = 6633

In [15]:
num =3
sum = 0
while num <= 200:
    sum += num
    num += 3
print("sum =", sum)

sum = 6633

---
Q. 문제 : for 문으로 1에서 10까지 출력하되 3의 배수는 건너뛰는 예제를 작성하라

In [18]:
for i in range(1,11):
    if i % 3 == 0 :
        pass
    else:
        print(i, end=',')

1,2,4,5,7,8,10,

In [20]:
for i in range(1,11):
    if i % 3 == 0 :
        continue
    print(i, end=',')

1,2,4,5,7,8,10,

In [31]:
for i in range(1,11):
    for x in range(10-i):
        print(" ",end='')
    for y in range(i):
        print("*", end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [33]:
for i in range(1,11):
    for x in range(10-i):
        print(" ", end='')
    for y in range(2*i-1):
        print("*",end='')
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

# 7장. 함수

## 7-1. 함수와 인수

In [2]:
sum = 0
for num in range(5):
    sum += num
print("~ 4 =", sum)

sum = 0
for num in range(11):
    sum += num
print("~ 10 =", sum)

~ 4 = 10
~ 10 = 55

In [3]:
def calcsum(n):
    sum = 0
    for num in range(n+1):
        sum += num
    return sum

print("~ 4 =",calcsum(4))
print("~ 5 =", calcsum(10))

~ 4 = 10
~ 5 = 55

In [4]:
def calcrange(begin, end):
    sum = 0
    for num in range(begin, end+1):
        sum += num
    return sum

print("3 ~ 7 =",calcrange(3,7))

3 ~ 7 = 25

### 리턴값

return - 함수의 실행 결과를 보고하는 값. 리턴이 무조건 있어야 하는 것은 아님(print로 결과값 도출할 수도)

But, print는 출력하는 것(수치X), return은 값(수치)를 내놓는 것.

함수에서는 output이 return

input(인수) -> function(함수) -> output(return)  *이렇게 define(정의)하는 것

ex) def 함수명(인수) :

        명령어
        return 결과값(수치)
        
지역변수(함수 내) 전역변수(함수 밖에서 전체)

In [12]:
a = calcsum(10)
print(calcsum(10))

55

In [13]:
# 값을 리턴하는 함수의 호출문은 그 자체가 하나의 값. 때문에 수식 내에서 바로 사용 가능.
calcsum(100)

5050

## 7-2. 인수의 형식

### 가변인수 - 고정되지 않은 임의 개수의 인수를 받음

* 기호를 인수 이름 앞에 붙임(인수 목록의 마지막에 와야 함)

ex) intsum(s, *ints) - 가능 // (ints,s) : 가변-> 인수-에러 // (*ints, *nums) : 가변 -> 가변 -에러

In [26]:
def intsum(*ints):
    sum = 0
    for num in ints:
        sum += num
    return sum

In [27]:
print(intsum(1,2,3))
print(intsum(5,7,9,11,13))
print(intsum(8,9,6,2,9,7,5,8))

6
45
54

In [30]:
print(intsum(110)*2)

220

In [17]:
# return을 print로 한다면?

def intsum(*ints):
    sum = 0
    for num in ints:
        sum += num
    print(sum)

In [21]:
print(intsum(1,2,3))
# 6값은 intsum함수 안의 print 값/ print(함수)에서 출력 None은 .값과 수치는 없으니까 없는데 출력해달라고 하니까 none

6
None

In [23]:
intsum(1,2,3)   # intsum 함수 안의 print 호출값

6

print = 출력
return = 값

In [29]:
def calcstep(begin, end, step):
    sum = 0
    for num in range(begin, end+1, step):
        sum += num
    return sum

print("1 ~ 10 =", calcstep(1,10,2))   # 홀수의 합계 
print("1 ~ 10 =", calcstep(2,10,2))   # 짝수의 합계

1 ~ 10 = 25
1 ~ 10 = 30

In [33]:
def calcstep(begin, end, step=2): # step =''으로 디폴트 설정
    sum = 0
    for num in range(begin, end+1, step):
        sum += num
    return sum

print("1 ~ 100 =", calcstep(1,100,2))
print("1 ~ 100 =", calcstep(1,100))                 # 디폴트로 된 step을 쓰는 것
print("1 ~ 100 =", calcstep(1,100,3))               # 디폴트로 정의해놨지만 다른 걸 사용할 수도
print("1 ~ 100 =", calcstep(1, step=2, end=100))

1 ~ 100 = 2500
1 ~ 100 = 2500
1 ~ 100 = 1717
1 ~ 100 = 2500

### 키워드 인수

In [ ]:
getscore(grade, clano, stuno, subject, month)

In [35]:
def calcsum(begin, end, step, what, test):
    sum = 0
    for num in range(begin, end+1, step):
        sum += num
        sum += what
        sum += test
    return sum

calcsum(1,10,2,3,2)

50

### 키워드 가변 인수
키워드 인수를 가변 개수 전달할 때 인수 목록에 ** 기호를 붙인다

In [44]:
# python(실행파일) |  test.py(소스파일) | -t (옵션)   | -n
# arg[0]           |  arg[1]            | arg[2]      | arg[3]      - 배열의 몇번째

def calcstep(**args):
    begin = args['begin'] # args[0]
    end = args['end']   # args[1]
    step = args['step']  # args[2]  키워드 가변인수(args)에 step(2)번째 들어오는 걸 변수 c라고 부른다
    
    sum = 0
    for num in range(begin, end+1, step):
        sum += num
    return sum

In [45]:
print("3 ~ 5 =", calcstep(begin=1, end=5, step=3))

3 ~ 5 = 5

In [46]:
print("3 ~ 5 =", calcstep(3,5,1))    # 키워드 가변인수의 변수명을 적지 않아서

TypeError: calcstep() takes 0 positional arguments but 3 were given

In [7]:
def calcstep(**args):
    a= args['a'] #args[0]
    b = args['b']   #args[1]
    c = args['c'] #args[2]   키워드가변인수(args)에 step번째 들어오는 걸 c라고 부른다
    
    sum = 0
    for num in range(a, b+1, c):
        sum += num
    return sum

In [8]:
print("3 ~ 5 =", calcstep(c=1, b=5, a=3))

3 ~ 5 = 12

In [9]:
# 위치 인수와 키워드 인수를 동시에 가변으로 취할 수도 있다

def calcscore(name, *score, **option):
    print(name)
    sum = 0
    for s in score:
        sum += s
    print("총점 :",sum)
    if (option['avg'] == True):
        print("평균 :",sum / len(score))
        
calcscore("김상형", 88,99,77,avg=True)
calcscore("김한솔",99,98,95,89,avg=True)

김상형
총점 : 264
평균 : 88.0
김한솔
총점 : 381
평균 : 95.25

## 7-3. 변수의 범위

지역 변수 - 함수 안에서 쓰고 끝나는 것

전역 변수 - 게임 레벨, 아이템 등

In [10]:
def calcsum(n):
    sum = 0
    for num in range(n + 1):
        sum += num
    return

In [45]:
def kim():
    temp = "김과장의 함수"
    print(temp)

kim()
print(temp)

김과장의 함수

NameError: name 'temp' is not defined

In [47]:
# temp는 각각 변수에만 해댕되는 지역변수

def lee():             # 넣어야하는 인자는 필요X
    temp = 2**10
    print(temp)
    
def park(a):            # a에 넣어야 할 인자를 적어줘야 
    temp = a*2
    print(temp)
    
lee()
park(6)

1024
12

In [40]:
salerate = 0.9                                     # 전역변수

def kim():
    print("오늘의 할인율 :", salerate)
def lee():
    price = 1000
    print("가격 :", price * salerate)

In [41]:
kim()
salerate = 1.1
lee()

오늘의 할인율 : 0.9
가격 : 1100.0

### id

In [57]:
price = 1000                       # 전역변수

def sale():
    price = 500                   # 지역변수
    print("sale", id(price))
    
sale()                          #함수내에서는 지역변수를 우선으로 
print("global", id(price))      #함수를 호출하는 게 아니니까 전역변수 price값

sale 2388280696080
global 2388280696496

In [56]:
price = 1000

def sale():
    global price
    price = 500
    print(price)
    
sale()             #함수 내에서 global을 선언하면 전역변수로 
print(price)

500
500

## docstring - 함수 선언문과 본체 사이에 작성

In [58]:
def calcsum(n):
    """1 ~ n까지의 합계를 구해 리턴한다"""
    sum = 0
    for i in range(n+1):
        sum += i
    return sum

help(calcsum)

Help on function calcsum in module __main__:

calcsum(n)
    1 ~ n까지의 합계를 구해 리턴한다

내장 함수

In [59]:
print(abs(-5))
print(max(3,7))
print(min([8,9,1,6,2]))

5
7
1

---
Q. 문제 : 세 개의 정수를 전달받아 평균값을 구해 리턴하는 함수를 작성하라

In [9]:
def calc(a,b,c):
    sum = 0
    for i in calc:
        sum += i
    #avg = sum / 3
    return sum

In [10]:
print(calc(3,5,7))

TypeError: 'function' object is not iterable

In [64]:
def getaverage(a, b, c):
    sum = a + b + c
    return sum / 3

In [65]:
print(getaverage(3,5,7))

5.0

---
Q. 문제 : 임의 개수의 인수를 전달받아 가장 큰 숫자를 찾아 리턴하는 함수를 작성하라

In [73]:
def big(*num):
    return max(*num)

In [75]:
print(big(3,6,8,9,1,6))

9

In [76]:
def getmax(*nums):
    m = nums[0]
    for i in nums:
        if (i > m):
            m = i
    return m

In [77]:
print(getmax(3,6,8,9,1,6))

9

# 8장. 문자열 관리

In [5]:
s = "python"
print(s[2])
print(s[-2])

t
o

In [6]:
s = "python"
for c in s:
    print(c,end=',')

p,y,t,h,o,n,

### 슬라이스

In [7]:
s = "python"

print(s[2:5])
print(s[3:])
print(s[:4])
print(s[2:-2])

tho
hon
pyth
th

In [8]:
file = "20171224-1048300.jpg"

print("촬영 날짜 :", file[4:6],"월",file[6:8],"일")
print("촬영 시간 :", file[9:11],"시",file[11:13],"분")
print("확장자 :", file[-3:])

촬영 날짜 : 12 월 24 일
촬영 시간 : 10 시 48 분
확장자 : jpg

In [9]:
yoil = "월화수목금토일"

print(yoil[::2])
print(yoil[::-1])

월수금일
일토금목수화월

## 8-2 문자열 메서드
### 검색, 조사, 변경, 분할, 대체

In [11]:
s = "python programming"

print(len(s))
print(s.find("o"))
print(s.rfind('o'))
print(s.index('r'))    
print(s.count('n'))

18
4
9
8
2

In [13]:
# 문자를 찾는다는 면에서 find와 같지만 해당 문자가 없을 때 예외가 발생한다
print(s.index('z'))

ValueError: substring not found

In [14]:
print(s.find('z'))   # .find - 찾는 문자가 없을 때 '-1'

-1

In [16]:
#  .count

s = """생각이란 생각할수록 생각나므로 생각하지 말아야 할 생각은 생각하지
않으려고 하는 생각이 옳은 생각이라고 생각합니다."""

print("생각의 출현 횟수 :", s.count("생각"))

생각의 출현 횟수 : 9

In [18]:
# x in a

s = "python programming"

print('a' in s)
print('z' in s)
print('pro' in s)
print('x' not in s)

True
False
True
True

In [20]:
# .startswith  /  .endswith

name = "김한결"
if name.startswith("김"):            # .startswith - 특정 문자열로 시작되는지
    print("김가입니다")
if name.startswith("한"):
    print("한가입니다")
    
file = "girl.jpg"
if file.endswith((".jpg")):            # .endtswith - 특정 문자열로 끝나는지
    print("그림 파일입니다")

김가입니다
그림 파일입니다

In [22]:
#  .isdecimal  - 모든 문자가 숫자로 시작하는지

height = input("키를 입력하세요 :")
if height.isdecimal():
    print("키 =", height)
else:
    print("숫자만 입력하세요")

키를 입력하세요 :안알랴줌
숫자만 입력하세요

In [24]:
# 변경 - lower, upper, swapcase, capitalize, title

s = "Good morning. my love KIM"

print(s.lower())        # 전부 소문자
print(s.upper())         # 전부 대문자
print(s)

good morning. my love kim
GOOD MORNING. MY LOVE KIM
Good morning. my love KIM

In [28]:
print(s.swapcase())      # 대소문자 반대로 뒤집기
print(s.capitalize())    # 문장의 첫 글자만 대문자로
print(s.title())          # 모든 단어의 처음을 대문자로

gOOD MORNING. MY LOVE kim
Good morning. my love kim
Good Morning. My Love Kim

In [29]:
python = input("파이썬의 영문 철자를 입력하시오 :")
if python.lower() == "python":
    print("맞췄습니다")

파이썬의 영문 철자를 입력하시오 :python
맞췄습니다

In [1]:
# strip - lstrip, rstrip

s = "   angel   "

print(s + "님")
print(s.lstrip()+"님")  # left을 공백제거
print(s.rstrip()+"님")  #  right를 공백제거
print(s.strip()+"님")

   angel   님
angel   님
   angel님
angel님

In [5]:
# 분할 - split()

s = "짜장 짬뽕 탕수육"
print(s.split())
print()

s2 = "서울->대전->대구->부산"
city = s2.split("->")
print(city)
print()

for c in city:
    print(c,"찍고",end=" ")
print()

['짜장', '짬뽕', '탕수육']

['서울', '대전', '대구', '부산']

서울 찍고 대전 찍고 대구 찍고 부산 찍고

In [6]:
s2 = "서울->대전->대구->부산"
 
print(s2.split("->"))

['서울', '대전', '대구', '부산']

In [15]:
# splitline - 긴 문서를 각 행별로 쪼개기

traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n
길은 외줄기\n남도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n
구름에 달 가듯이\n가는 나그네"""
poet = traveler.splitlines()
for line in poet:
    print(line)

강나루 건너서
밀밭 길을

구름에 달 가듯이
가는 나그네

길은 외줄기
남도 삼백리

술 익는 마을마다
타는 저녁놀

구름에 달 가듯이
가는 나그네

In [ ]:
f = open("poet.txt","wt")
f.write()

In [16]:
# join - 삽입 메서드

s = "._."
print(s.join("대한민국"))        # 대한민국 사이사이에 ._.를 삽입

대._.한._.민._.국

In [20]:
s2 = "서울->대전->대구->부산"
city = s2.split("->")             # 분할. 문장X, 단어
print(city)
print(" 찍고, ".join(city))        # city(도시 이름) 사이사이에  "찍고"를 삽입

['서울', '대전', '대구', '부산']
서울 찍고, 대전 찍고, 대구 찍고, 부산

In [21]:
# 대체 - replace

s = "독도는 일본땅이다. 대마도도 일본땅이다"
print(s)
print(s.replace("일본","한국"))

독도는 일본땅이다. 대마도도 일본땅이다
독도는 한국땅이다. 대마도도 한국땅이다

In [23]:
# just - 정렬과 같은 개념 (ljust, rjust, center)

message = "안녕하세요"
print(message.rjust(30))   # 문자열 폭 = 30, 
print(message.ljust(30))
print(message.center(30))

                         안녕하세요
안녕하세요
            안녕하세요

In [4]:
traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n
길은 외줄기\n남도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n
구름에 달 가듯이\n가는 나그네"""
print(traveler)
print()
poet= traveler.splitlines()
print(poet)
print()
for line in poet:
    print(line.center(30))

강나루 건너서
밀밭 길을

구름에 달 가듯이
가는 나그네

길은 외줄기
남도 삼백리

술 익는 마을마다
타는 저녁놀

구름에 달 가듯이
가는 나그네

['강나루 건너서', '밀밭 길을', '', '구름에 달 가듯이', '가는 나그네', '', '길은 외줄기', '남도 삼백리', '', '술 익는 마을마다', '타는 저녁놀', '', '구름에 달 가듯이', '가는 나그네']

           강나루 건너서
            밀밭 길을

          구름에 달 가듯이
            가는 나그네

            길은 외줄기
            남도 삼백리

          술 익는 마을마다
            타는 저녁놀

          구름에 달 가듯이
            가는 나그네

## 8-3 포멧팅 - %d, %s
문자열 안에 여러가지 정보를 출력할 때 - +

In [5]:
price = 500
print("궁금하면 "+str(price)+"원")

궁금하면 500원

In [6]:
price = 500
print("궁금하면 %d원"%price)

궁금하면 500원

In [7]:
month = 8
day = 15
anni = "광복절"
print("%d월 %d일은 %s일이다" %(month, day, anni))

8월 15일은 광복절일이다

In [9]:
value= 123
print("가치는%d이다" %value)
print("가치는%5d이다" %value)
print("가치는%10d이다" %value)
print("가치는%1d이다" %value)

가치는123이다
가치는  123이다
가치는       123이다
가치는123이다

In [11]:
price = [30, 13500, 2000]
for p in price:
    print("가격 : %d원" %p)
print()    
for p in price:
    print("가격 : %7d원" %p)

가격 : 30원
가격 : 13500원
가격 : 2000원

가격 :      30원
가격 :   13500원
가격 :    2000원

In [12]:
price = [30, 13500, 2000]
for p in price:
    print("가격 : %-7d원" %p)

가격 : 30     원
가격 : 13500  원
가격 : 2000   원

In [13]:
pie = 3.14159265
print("%10f" %pie)
print("%10.8f" %pie)
print("%10.5f" %pie)
print("%10.2f" %pie)

  3.141593
3.14159265
   3.14159
      3.14

In [15]:
# 신형 포맷팅 - {}

name ="한결"
age =16
height = 162.5
print("이름 : {}, 나이 : {}, 키 : {}".format(name, age, height))

이름 : 한결, 나이 : 16, 키 : 162.5

In [16]:
name = "한결"
age =16
height = 162.5
print("이름 : {0:s}, 나이 :{1:d}, 키:{2:f}".format(name, age, height))

이름 : 한결, 나이 :16, 키:162.500000

In [17]:
name = "한결"
age =16
height = 162.5
print("이름 : {0:10s}, 나이 :{1:5d}, 키:{2:8.2f}".format(name, age, height))

이름 : 한결        , 나이 :   16, 키:  162.50

In [18]:
# 정렬 - ^(중앙정렬),<(왼쪽정렬),>(오른쪽 정렬)

name = "한결"
age =16
height = 162.5
print("이름 : {0:^10s}, 나이 :{1:>5d}, 키:{2:<8.2f}".format(name, age, height))

이름 :     한결    , 나이 :   16, 키:162.50

# 9. 리스트_튜플
리스트 - 추가o, 변경o, 삭제o / 튜플- 값이 정해져있어, 순서에 X, 값이 정해져 있고 순서가 상관없으니까 몇번째 추가X
## 9-1. 리스트

In [19]:
score = [88,95,70,100,99]
sum = 0
for s in score:
    sum += s
print("총점 :", sum)
print("평균 :", sum/len(score))

총점 : 452
평균 : 90.4

In [23]:
sum = 0
for i in score:
    sum += i
    print(i)
print("총점 :",sum)

88
41
34
89
66
79
21
81
총점 : 499

In [24]:
score = [88, 41, 34, 89, 66, 79, 21, 81]
print(score[2:5])
print(score[3:-1])
print(score[:4])
print(score[6:])
print(score[-1])
print(score[1])
print(score[1:7:2])
print(score[::3])

[34, 89, 66]
[89, 66, 79, 21]
[88, 41, 34, 89]
[21, 81]
81
41
[41, 89, 79]
[88, 89, 21]

In [25]:
print(score[2])

34

In [26]:
score[2]

34

In [27]:
# 값 대입으로 변경

score[2] = 100

In [28]:
print(score[2])

100

In [29]:
print(score)

[88, 41, 100, 89, 66, 79, 21, 81]

In [30]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
num[2:5] = [20,30,40]
print(num)

[0, 1, 20, 30, 40, 5, 6, 7, 8, 9]

In [61]:
nums = [1, 2, 3, 4]
nums[1:] = [0,0,0]
print(nums)

[1, 0, 0, 0]

In [34]:
# 값 대입으로 추가

num[6:8] = [123,1234,12345,123456,1234567,12345678,123456789]
print(num)

[0, 1, 20, 30, 40, 5, 123, 1234, 12345, 123456, 1234567, 12345678, 123456789, 12345, 123456, 1234567, 12345678, 123456789, 8, 9]

In [59]:
nums = [1, 2, 3, 4]
nums[2:2] = [0, 0, 0, 0]
print(nums)

[1, 2, 0, 0, 0, 0, 3, 4]

In [63]:
nums[3] = (90, 91, 92)
print(nums)

[1, 0, 0, (90, 91, 92)]

In [35]:
# 값 대입으로 삭제

num[2:] =[]
print(num)

[0, 1]

In [36]:
# del 삭제

del num[1]
print(num)

[0]

In [38]:
# list1 + list2/ list1 * 3

list1 = [1, 2, 3, 4, 5]
list2 = [10, 11, 22, 33]
listadd= list1 + list2
print(listadd)
print()
listmulti=list2 * 3 
print(listmulti)

[1, 2, 3, 4, 5, 10, 11, 22, 33]

[10, 11, 22, 33, 10, 11, 22, 33, 10, 11, 22, 33]

In [40]:
# 이중 리스트

lol = [[1,2,3],[4,5],[6,7,8,9]]
print(lol[0])
print(lol[2][1])

[1, 2, 3]
7

In [41]:
for sub in lol:
    for item in sub:
        print(item,end='')
    print()

123
45
6789

In [53]:
score=[[88,76,92,98],[65,70,58,82],[82,80,78,88]]

total = 0
totalsub = 0
subject = 0
for sub in score:
    sum = 0
    for item in sub:
        sum += item
    subject = len(sub)
    print("총점 :",sum, end='')
    print("평균 :", sum/len(sub))
    total += sum
    totalsub += subject
print("전체평균 :", total/totalsub)

총점 : 354평균 : 88.5
총점 : 275평균 : 68.75
총점 : 328평균 : 82.0
전체평균 : 79.75

In [54]:
score=[[88,76,92,98],[65,70,58,82],[82,80,78,88]]

total = 0
totalsub = 0
for student in score:
    sum = 0
    for subject in student:
        sum += subject
    subject = len(student)
    print("총점 %d, 평균 %.2f" %(sum,sum/subject))
    total += sum
    totalsub += subject
print("전체평균 %.2f" %(total/totalsub))

총점 354, 평균 88.50
총점 275, 평균 68.75
총점 328, 평균 82.00
전체평균 79.75

In [ ]:
# 리스트 컴프리헨션 - 리스트 안의 요소가 일정한 규칙을 가지는 수열이라면 
[수식 for 변수 in 리스트 if 조건]

In [55]:
num = [n*2 for n in range(1,11)]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
num = [n*2 for n in range(1,11)]
for i in num:
    print(i)

2
4
6
8
10
12
14
16
18
20

## 9-2 리스트 관리
append, insert, extend, remove, pop, indext, count

In [66]:
# 삽입 - append, insert
nums = [1,2,3,4]
nums.append(5)
print(nums)
print()
nums.insert(2,100)
print(nums)

[1, 2, 3, 4, 5]

[1, 2, 100, 3, 4, 5]

In [69]:
nums = [1,2,3,4]
nums[2:2] = [90,91,92]
print(nums)
print()
nums = [1,2,3,4]
nums[2] = [90,91,92]
print(nums)

[1, 2, 90, 91, 92, 3, 4]

[1, 2, [90, 91, 92], 4]

In [74]:
# 리스트에 리스트를확장 - extend
list1 = [1,2]
list2 = [10,11]
list1.extend(list2)
print(list1)

[1, 2, 10, 11]

In [75]:
# 리스트에 튜플을 확장
list1 = [1,2]
list2 = (10,11)
list1.extend(list2)
print(list1)

[1, 2, 10, 11]

In [76]:
# 튜플에 리스트를 확장(에러)
list1 = [1,2]
list2 = (10,11)
list2.extend(list1)
print(list1)

AttributeError: 'tuple' object has no attribute 'extend'

In [3]:
# 삭제 - remove, del, []

score=[88,95,70,100,99,80,78,50]
score.remove(50)
print(score)
print()
del(score[6])
print(score)
print()
score[2:6]=[]
print(score)

[88, 95, 70, 100, 99, 80, 78]

[88, 95, 70, 100, 99, 80]

[88, 95]

In [5]:
# 꺼내기 - pop / del은 요소를 지우기만 하는데 pop은 삭제한 요소를 꺼내 리턴한다

score = [88,95,70,100,99]
print(score.pop())
print(score.pop())
print(score.pop(1))     # 첫번째 요소를 pop
print(score)

99
100
95
[88, 70]

In [7]:
# 검색 - index(리스트의 검색 메서드는 문자열의 경우와 거의 같다. index는 특정 요소의 위치를 찾으며 발견되지 않을 경우 예외를 발생시킨다.)
# count - 특정 요소의 개수를 조사한다

score=[88,95,70,100,99,80,78,50]
perfect = score.index(100)
print("만점 받은 학생은 " + str(perfect) + "번입니다")
5pernum= score.count(100)
print("만점자 수는 " + str(pernum)+"명입니다.")

만점 받은 학생은 3번입니다
만점자 수는 1명입니다.

In [9]:
# min, max
score = [88,95,70,100,99,80,78,50]
print("학생 수는 %d명입니다." %len(score))
print("최고 점수는 %d점입니다" %max(score))
print("최저 점수는 %d점입니다" %min(score))

학생 수는 8명입니다.
최고 점수는 100점입니다
최저 점수는 50점입니다

In [10]:
# in, not in

ans = input("결제 하시겠습니까?")
if ans in ['yes', 'y','ok','예','당근']:
    print("구입해 주셔서 감사합니다")
else:
    print("안녕히 가세요")

결제 하시겠습니까?예
구입해 주셔서 감사합니다

In [11]:
if ans =='y' or ans =='yes'or ans =='ok'or ans=='예'or ans=='당근':

SyntaxError: unexpected EOF while parsing (<ipython-input-11-da64d82d5913>, line 1)

In [14]:
# 배열 - sort/ reverse

score = [88,95,70,100,99]
score.sort()
print(score)
score.reverse()
print(score)

[70, 88, 95, 99, 100]
[100, 99, 95, 88, 70]

In [15]:
print(score.sort())

None

In [ ]:
print(sort)

In [18]:
#  sort- 메서드, sorted- 내장함수

score = [88,95,70,100,99]
score2=sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]

In [22]:
# key = str.lower
# key인수에 str.lower를 주어 소문자로 바꾼 후 비교한다.

country =["Korea","japan","CHINA","america"]
country.sort()
print(country)
country.sort(key=str.lower)
print(country)

['CHINA', 'Korea', 'america', 'japan']
['america', 'CHINA', 'japan', 'Korea']

## 9-3. 튜플

In [23]:
score = (88,95,70,100,99)
sum = 0
for s in score:
    sum += s
print("총점 :",sum)
print("평균 :",sum/len(score))

총점 : 452
평균 : 90.4

In [24]:
tu = 2,            # , 가 있으면 튜플이라고 인식
value = 2          # 하나만 있으면 값으로 출력
print(tu)
print(value)

(2,)
2

In [34]:
# 튜플 - +, *   
# 범위를 추출하여 일부를 잘라낼수도 있고 + 연산자로 튜플끼리 연결하거 * 연산자로 튜플의 요소를 반복 가능
# But, 튜플의 요소를 변경하거나 삭제하는 것은 불가능

tu = 1,2,3,4,5
print(tu)           # 아무것도 감싸져 있지 않는 건 튜플
print(tu[3])
print(tu[1:3])
print(tu + (6,7))
print(tu * 2)
tu[1]=100            # 변경 불가능
del tu[1]            # 삭제 불가능

(1, 2, 3, 4, 5)
4
(2, 3)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [38]:
score = [88, 98, 70, 100, 99]
tuple(score)

(88, 98, 70, 100, 99)

In [32]:
tu.extend(1,2)
print(tu)

AttributeError: 'tuple' object has no attribute 'extend'

In [29]:
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [35]:
lee, kim, kang = '이순신','김유신','강감찬'
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [31]:
# 두 값의 교환

a, b = 12 ,34
print(a,b)
a,b=b,a
print(a,b)

12 34
34 12

In [37]:
# gettime - 현재 시간을 조사하여 리턴

import time

def gettime():
    now = time.localtime()
    return now.tm_hour, now.tm_min

result = gettime()
print(gettime())
print(result)
print("지금은 %d시 %d분입니다" %(result[0], result[1]))

(20, 45)
(20, 45)
지금은 20시 45분입니다

In [40]:
# divmod 함수 - 나눗셈의 몫과 나머지를 튜플로 묶어 리턴

d, m = divmod(7,3)
print("몫",d)
print("나머지",m)

몫 2
나머지 1

In [41]:
score = [88,95,70,100,99]
tu = tuple(score)
# tu[0] = 100
print(tu)
li = list(tu)
li[0] = 100
print(li)

(88, 95, 70, 100, 99)
[100, 95, 70, 100, 99]

---
Q. 문제 : score 리스트에 성적값 8개를 저장하고 총점과 평균을 구해 출력하라

In [44]:
score = [99,88,77,66,55,44,33,22]
sum = 0
for i in score:
    sum += i
print("총점 :", sum)
print("평균 :", sum/len(score))

총점 : 484
평균 : 60.5

---
Q. 문제 : score = [88,95,70,100,99] 리스트에서 2번 학생의 성적을 0점으로 변경하라

In [45]:
score = [88,95,70,100,99]
score[1] = 0                # 두번째는 컴퓨터의 두번째와 다르다!!
print(score)

[88, 95, 0, 100, 99]

---
Q. 문제 : 리스트 컴프리헨션 문법을 사용하여 1에서 100사이의 짝수로 구성된 리스트를 생성하라

In [55]:
num =[i for i in range(1,101) if i % 2 ==0]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [58]:
li = [n*2 for n in range(1,50)]
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

---
Q. 문제 : [n*n for n in range(1,10) if  n%3 ==0] 이 구문을 평이한 루프와 조건문, 연산식으로 풀어서 작성하라

In [63]:
for n in range(1,10):
    if n % 3 ==0:
        print(n*n)

9
36
81

In [64]:
nums = []
for n in range(1,10):
    if n % 3 ==0:
        nums.append(n*n)     
        
for i in nums:
    print(i, end=',')

9,36,81,

---
Q. 문제 : 사용자로부터 5개의 성적을 입력받아 리스트에 저장한 후 오름차순으로 정렬하여 출력하라

In [66]:
li = []
for i in range(1,6):
    score = int(input(str(i) +"번 학생의 성적을 입력하세요 :"))
    li.append(score)
li.sort()
print(li)

1번 학생의 성적을 입력하세요 :95
2번 학생의 성적을 입력하세요 :35
3번 학생의 성적을 입력하세요 :74
4번 학생의 성적을 입력하세요 :7
5번 학생의 성적을 입력하세요 :27
[7, 27, 35, 74, 95]

In [ ]:
li = []
for i in range(1,6):
    score = int(input(str(i) + "번 학생의 성적을 입력하세요 :"))
    li.append(score)

# 10장. 사전과 집합

In [67]:
dic = {'boy':'소년','school':'학교','book':'책'}
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [68]:
# 사전에 대해 [키] 형식으로 읽으면 값이 정해진다.

print(dic['boy'])
print(dic['book'])

소년
책

In [69]:
# 순서가 없기 때문에 첨자로는 읽을 수 없고 키로부터 값을 찾는다

print(dic[1])

KeyError: 1

In [72]:
# 찾는 키가 없으면 키가 없다는 예외발생. 

print(dic['student'])

KeyError: 'student'

In [75]:
# 예외 처리 구문 사용.
# get - 키가 없을 때 에러를 발생시키는 대신 None을 리턴하여 두 번째 인수로 대신 돌려줄 디폴트 값을 지정할 수도 이다.
# .get('키','예외구문')

print(dic.get('boy'))
print(dic.get('student'))
print(dic.get('student','사전에 없는 단어입니다'))

남자애
None
사전에 없는 단어입니다

In [73]:
if 'student' in dic:
    print("사전에 있는 단어입니다")
else:
    print("사전에 없는 단어입니다")

사전에 없는 단어입니다

In [74]:
# 삽입, 삭제, 수정 등의 편집이 가능

dic['boy']='남자애'      # 수정
dic['girl']='소녀'        # 삽입
del dic['book']           # 삭제
print(dic)

{'boy': '남자애', 'school': '학교', 'girl': '소녀'}

In [79]:
# dic 요소 리스트=[공백]으로 삭제 불가

dic[1] = []
dic['boy'] = []
print(dic)

{'boy': [], 'school': '학교', 'girl': '소녀', 1: []}

In [81]:
# keys 메서드 - (키 목록),  values 메서드 - (값 목록),     items 메서드 - (키:값)

dic = {'boy':'소년','school':'학교','book':'책'}
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [82]:
keylist = dic.keys()
for key in keylist:
    print(key)

boy
school
book

In [83]:
# update 메서드 - 사전 병합

dic = {'boy':'소년','school':'학교','book':'책'}
dic2 = {'student':'학생','teacher':'선생님','book':'서적'}
dic.update(dic2)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '서적', 'student': '학생', 'teacher': '선생님'}

In [85]:
# dictionary로 변경

li = [['boy','소년'],['school','학교'],['book','책']]
dic = dict(li)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [93]:
# isalpha/ lower/ 

song = """by the reivers of babylon, there we sat down
yeah we wept, when we remenber zion.
when the wicked carried us away in captivity
required from us a song
now how shall we sing the lord's song in a strange land"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else:
        alphabet[c] += 1
        
print(alphabet)

{'b': 4, 'y': 5, 't': 9, 'h': 9, 'e': 23, 'r': 12, 'i': 10, 'v': 2, 's': 10, 'o': 10, 'f': 2, 'a': 12, 'l': 5, 'n': 14, 'w': 12, 'd': 6, 'p': 2, 'm': 2, 'z': 1, 'c': 3, 'k': 1, 'u': 3, 'q': 1, 'g': 4}

In [97]:
key = list(alphabet.keys())

key.sort()
print(key)

for c in key:
    num = alphabet[c]
    print(c, '=',num)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'y', 'z']
a = 12
b = 4
c = 3
d = 6
e = 23
f = 2
g = 4
h = 9
i = 10
k = 1
l = 5
m = 2
n = 14
o = 10
p = 2
q = 1
r = 12
s = 10
t = 9
u = 3
v = 2
w = 12
y = 5
z = 1

In [99]:
# ord 함수
# 키의 목록을 구해 정렬하는 것이 번거로우면 a~z까지 순회하며 각 알파벳의 등장 횟수를 조사할 수도 있다
# song에 없는 알파벳까지 세는

for code in range(ord('a'), ord('z')+1):     # range 함수는 정수만 받아들이기 때문에 문자열을 순회 X, 
    c = chr(code)
    num = alphabet.get(c,0)
    print(c, '=', num)

a = 12
b = 4
c = 3
d = 6
e = 23
f = 2
g = 4
h = 9
i = 10
j = 0
k = 1
l = 5
m = 2
n = 14
o = 10
p = 2
q = 1
r = 12
s = 10
t = 9
u = 3
v = 2
w = 12
x = 0
y = 5
z = 1

# 15장. 클래스

In [2]:
# class X,  함수사용 O

balance = 8000

def deposit(money):
    global balance
    balance += money
    
def inquire():
    print("잔액은 %d원입니다" % balance)
    
deposit(1000)
inquire()

잔액은 9000원입니다

In [8]:
# 클래스 생성     # Account라는 class로 템플릿을 만드는 것

class Account:                           
    def __init__(self, balance):              # 변수 = balance, money/ 함수 = deposit
        self.balance = balance
    def deposit(self,money):
        self.balance += money
    def inquire(self):
        print("잔액은 %d원입니다" %self.balance)

In [ ]:
# Account class를 사용한 sinhan 객체 생성

sinhan = Account(8000)                    
sinhan.deposit(1000)                      
sinhan.inquire()

In [6]:
nonghyup = Account(1200000)               # 1(200000)초기값인자를 넣어 농협이라는 객체를 만듦
nonghyup.inquire()

잔액은 1200000원입니다

In [12]:
print(nonghyup.balance)         # . tab에 있는 것들 전부 사용 가능함!!

1200000

In [ ]:
nonghyup.deposit(200000)
nonghyup.inquire()

In [ ]:
nonghyup.balance = 0

In [ ]:
nonghyup.inquire()

In [ ]:
__init__ 생성자 만들때

객체가 생성될 때 컴퓨터가 임의로(객체1)= FFinitAA
다른 객체를 만들면 임의의 (객체2)= BBinitSS


ex, 홍길동 => 길동이라는 이름의 성을 다 찾겠다 한다면
    _길동   # 언더바(_)의 역할