# 2. 변수

In [5]:
if age > 19:
    print("성인입니다")

NameError: name 'age' is not defined

In [4]:
for a in range(5):
    print(a)

0
1
2
3
4

print(출력내용 [, sep=구분자] [,end=끝문자])

In [6]:
print(3+4)

7

In [8]:
value = 1234
print(value)
print(value * 2)

1234
2468

In [9]:
value

1234

In [11]:
print(3+4)
4 * 5   # 무시된다
a = 1
b = 2
print(a + b)

7
3

In [12]:
a = 12
b = 34
print(a, b)

12 34

In [14]:
print(a, b, sep =',')

12,34

In [15]:
print(a, b, sep='')

1234

In [16]:
print(a, b, sep = '---->')

12---->34

In [19]:
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep=' 찍고, ')

서울 찍고, 대전 찍고, 대구 찍고, 부산

In [20]:
# 연이은 print 문은 새로운 줄에 출력
a = '강아지'
b = '고양이'
print(a)
print(b)

강아지
고양이

In [21]:
a = '강아지'
b = '고양이'
print(a, end='')
print(b)

강아지고양이

변수 = input('질문 내용')

In [25]:
age = input('몇 살이세요? ')
print(age)    # 사용자가 입력한 값을 age 변수에 제대로 입력되었는지 출력한 것.

몇 살이세요? 30
30

In [28]:
# 문제 : 가격을 입력받아 price 변수에 대입하고 개수를 입력받아 num변수에 대입. 총액 계산

price = input('가격을 입력하세요 : ')
num = input('개수를 입력하세요 : ')
sum = int(price) * int(num)
print('총액은', sum, '원입니다')

가격을 입력하세요 : 5000
개수를 입력하세요 : 3
총액은 15000 원입니다

In [30]:
price = int(input('가격을 입력하세요'))
num = int(input('개수를 입력하세요'))
#sum = price * num
#print('총액은',sum,'입니다')
print('총액은',price * num,'원입니다')

가격을 입력하세요5000
개수를 입력하세요3
15000

In [33]:
# 이름을 입력하세요
name = input('이름을 입력하세요')
print('안녕하세요!', name+'님~')

이름을 입력하세요송승은
안녕하세요! 송승은님~

In [34]:
score = 100

In [35]:
score

100

In [36]:
print(score)

100

In [37]:
a = 1234

In [38]:
type(a)

int

In [39]:
a = '안녕'

In [40]:
type(a)

str

In [41]:
print('')

In [47]:
# 사각형의 폭과 높이를 각각 width, height 변수에 입력받아 면적을 구해 출력하라
width = int(input("폭을 입력하세요 : "))
height = int(input("높이를 입력하세요 : "))
size = width * height
print('면적은',size,'입니다')

폭을 입력하세요 : 30
높이를 입력하세요 : 30
면적은 900 입니다

# 3. 타입

In [48]:
print(hex(26))        # 16진법(hexadecimal)
print(oct(26))        # 8진법(octal)
print(bin(13))        # 2진법(binary)

0x1a
0o32
0b1101

In [50]:
# 가수E지수
9.46e12

9460000000000.0

In [51]:
bill = 1.032e14
lee = 2.04e13
print('빌게이츠의 재산은',bill,'이고, 이건희의 재산은',lee,'이다')

빌게이츠의 재산은 103200000000000.0 이고, 이건희의 재산은 20400000000000.0 이다

In [52]:
# 복소수형 = 제곱해서 음수가 되는 가상의 숫자

a = 1+2j
b = 3+4j
print( a+ b)

(4+6j)

In [54]:
a = "Korea 서울 1234"
print(a)
type(a)

Korea 서울 1234

str

In [55]:
print('I Say "Help" to you')

I Say "Help" to you

In [56]:
print("let's go")

let's go

\n = 개행

\t = 탭

\\" = 큰따옴표

\\' =작은따옴표

\\\ = \ 문자

In [57]:
print("I Say \"Help\" to you")

I Say "Help" to you

In [58]:
a = "first\nsecond"
print(a)

first
second

In [62]:
a = "old\\new"
print(a)
print()
b= "old\new"       # \n으로 인식해서 개행
print(b)

old\new

old
ew

In [66]:
print("c:\temp\new.txt")         # \t  /  \n 으로 인식
print()
print(r"c:\temp\new.txt")        # 경로를 그대로 출력하기 위해 전부 \\를 두번씩 쓰기에는 번거로움. 문자열 앞에 r 접두를 붙인다

c:	emp
ew.txt

c:\temp\new.txt

In [68]:
#긴문자열 - 따옴표 3개 연속 사용
s = """강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀
구름에 달 가듯이 가는 나그네"""
print(s)

강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀
구름에 달 가듯이 가는 나그네

In [70]:
#긴문자열 - \(역슬래시) 사용 - 개행하지 않고 줄이 계속 이어진다는 뜻
s="강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네\
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀\
구름에 달 가듯이 가는 나그네"
print(s)

강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀구름에 달 가듯이 가는 나그네

In [72]:
totalsec = 365 * 24 * \
           60 * 60   #행의 들여쓰기는 상관X
print(totalsec)

31536000

In [3]:
s = "대한""민국""2002"
print(s)

대한민국2002

In [2]:
s = "대한","민국","2002"
print(s)

('대한', '민국', '2002')

In [4]:
s = ("대한"
     "민국"
     "2002")
print(s)

대한민국2002

In [5]:
a = "대한"
b = "민국"
print(a+b)

대한민국

In [6]:
print("a+b")

a+b

In [42]:
print("좋아, 아주좋아~!   " * 3 )

좋아, 아주좋아~!   좋아, 아주좋아~!   좋아, 아주좋아~!

In [44]:
print('-' *80, end='>')

-------------------------------------------------------------------------------->

In [78]:
# ord 함수 = 문자의 코드를 조사  / chr = 코드로부터 문자를 구현

print(ord('a'))
print(chr(98))
for c in range(ord('A'), ord('Z')+1):
    print(chr(c), end='')

97
b
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [7]:
a = 5
b = a == 5
print(b)

True

In [8]:
a = 5
b = a ==4
print(b)

False

In [9]:
if a == 5:
    print("a는 5입니다")

a는 5입니다

In [10]:
a = None
print(a)

None

In [12]:
member = ['손오공','저팔계','사오정','삼장법사']
for m in member:
    print(m,"출동")

손오공 출동
저팔계 출동
사오정 출동
삼장법사 출동

---
Q 문제 : 봄, 여름, 가을, 겨울 계절명을 season 문자열 변수에 저장하되 출력 시 각 줄에 계절이 따로 나오도록 정의하라

In [19]:
season =['봄','여름','가을','겨울']
for s in season:
    print(s)   
print()
print("\n문자열 변수가 아니므로 오답입니다!!!")

봄
여름
가을
겨울


문자열 변수가 아니므로 오답입니다!!!

In [17]:
season = "봄\n여름\n가을\n겨울"
print(season)

봄
여름
가을
겨울

---
Q 문제 : 문자 K의 코드값을 출력하고 코드값 100의 문자가 무엇인지 조사하여 출력하라

In [22]:
print(ord("K"))
print(chr(100))

75
d

# 4장. 연산자

In [ ]:
** = 거듭제곱
\\ = 정수 나누기
% = 나머지

In [23]:
11 ** 2

121

In [24]:
2 ** 10

1024

In [25]:
5 / 2

2.5

In [26]:
5 // 2   #소수부 0.5를 버리고 정수부 2만 계산

2

---
Q. 문제 : 초코파이 한 개는 400원이다. 1000원으로 몇 개를 살 수 있는가?

In [27]:
pie = 400
1000 // pie

2

In [32]:
# 나머지 연산자는 배수 여부르르 판별할 때 흔히 사용한다

7 % 2

1

In [30]:
8 % 3

2

In [31]:
9 % 3

0

In [33]:
# 복합 대입 연산자

a = 5
a = a + 1
print(a)

6

In [35]:
a += 1
print(a)

8

---
Q. 문제 : 상품 가격을 90%로 세일한다.

In [37]:
saleprice *= 0.9

NameError: name 'saleprice' is not defined

In [45]:
print("korea"+2002)

TypeError: can only concatenate str (not "int") to str

In [46]:
print("korea"+str(2002))

korea2002

In [47]:
print(10 + "22")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
print(10 + int("22"))

32

In [50]:
print(10 + int("22%"))    # 덧셈은 정수 + 정수

ValueError: invalid literal for int() with base 10: '22%'

In [52]:
print(10 + int("22.5"))   # 22.5는 정수가 X

ValueError: invalid literal for int() with base 10: '22.5'

In [53]:
print(10+0x1a)

36

In [55]:
print(10 + float("22.5"))   # 22.5는 실수. 실수 = float

32.5

In [56]:
print(10 + int(float("22.5")))

32

In [59]:
# round 함수는 실수를 반올림

print(int(2.54))
print(round(2.54))
print(round(2.54, 1))
print(round(123456, -3))

2
3
2.5
123000

In [62]:
a = 1 + 2 * 3
print(a)

7

In [63]:
a = (1 + 2) * 3
print(a)

9

---
Q. 문제 : name 변수에 이름이 저장되어 있고 score 변수에 점수가 저장되어 있다. 이 두 변수로부터 "홍길동 98점"이라는 문자열로 조립한다

In [68]:
name = input("이름을 입력하세요 : ")
score = input("점수를 입력하세요 : ")
print(name+str(score)+"점")

이름을 입력하세요 : 송승은
점수를 입력하세요 : 100
송승은100점

# 5장. 조건문

## 5-1. if문

In [1]:
age = int(input("너 몇살이니? "))
if age < 19 :
    print("애들은 가라")

너 몇살이니? 18
애들은 가라

==
!=
<
>
<=
>=

In [2]:
a = 3
if a == 3 :
    print("3이다")
if a > 5 :
    print("5보다 크다")
if a < 5 :
    print("5보다 작다")

3이다
5보다 작다

In [7]:
country = "Korea"
if country == "Korea":
    print("한국입니다")
if country == "Korea":
    print("대한민국입니다.")

한국입니다
대한민국입니다.

In [10]:
# 사전의 더 뒤쪽에 나오는 문자열을 큰 것으로 평가한다

if ("Korea" > "Japan"):
    print("한국이 더 크다")
if ("Korea" < "Japan") :
    print("일본이 더 크다")

한국이 더 크다

In [13]:
# 숫자 - 0이 아닌 숫자(True) / 0 (False),  
# 문자열 - 비어있지 않은 상태(True) / "" (False) ,  
# 리스트 튜플 딕셔너리 - 비어있지 않은 상태(True) / 빈 상태(False)

energy = 1
if energy:
    print("열심히 싸운다")

열심히 싸운다

In [14]:
# andrange

a = 3
if a > 1 and a < 10 :
    print("OK")

OK

In [15]:
a = 3
if 1 < a < 10 :
    print("OK")

OK

## 5-2. 블록 구조 : 조건문이 참일 때 실행할 명령이 2개 이상이면 아래쪽으로 명령을 계속 나열

In [16]:
age = 16
if age < 19:
    print("애들은 가라")
    print("공부 열심히 해야지")

애들은 가라
공부 열심히 해야지

In [18]:
age = 22
if age < 19 :
    print("애들은 가라")      # 블록
print("공부 열심히 해야지")   # 블록 외부의 명령

공부 열심히 해야지

In [19]:
age = 22
if age < 19 :
    print("애들은 가라")
else :
    print("어서 옵쇼")

어서 옵쇼

In [20]:
age = 12
if age < 19 :
    print("애들은 가라")
    print("공부 열심히 해야지")
else:
    print("어서 옵쇼")
    print("즐거운 시간 되세요")

애들은 가라
공부 열심히 해야지

In [21]:
age = 23
if age < 19:
    print("애들은 가라")
elif age < 25:
    print("대학생입니다.")
else:
    print("어서 옵쇼")

대학생입니다.

In [22]:
age = 23
if age < 19:
    print("애들은 가라")
else:
    if age < 25:
        print("대학생입니다")
    else:
        print("어서 옵쇼")

대학생입니다

In [23]:
money = 6500
if money >= 20000:
    print("탕수육을 먹는다")
elif money >= 10000:
    print("쟁반 짜장을 먹는다")
elif money >= 6000:
    print("짬뽕을 먹는다")
elif money >= 4000:
    print("짜장면을 먹는다")
else:
    print("단무지를 먹는다")

짬뽕을 먹는다

In [24]:
money = 6500
if money >= 20000:
    print("탕수육을 먹는다")
else:
    if money >= 10000:
        print("쟁반 짜장을 먹는다")
    else:
        if money >= 6000:
            print("짬뽕을 먹는다")
        else:
            if money >= 4000:
                print("짜장면을 먹는다")
            else:
                print("단무지를 먹는다")

짬뽕을 먹는다

In [26]:
man = True
age = 22
if man == True:
    if age >= 19:
        print("성인 남자입니다")

성인 남자입니다

In [27]:
if man == True and age >= 19:
    print("성인 남자입니다")

성인 남자입니다

---
Q. 문제 : 점수를 입력받은 후 80점 이상이면 합격, 80점 미만이면 불합격을 출력하라

In [29]:
exam = int(input("점수를 입력하시오 : "))
if exam >= 80:
    print("합격")
else:
    print("불합격")

점수를 입력하시오 : 78
불합격

---
Q. 문제 : 한국의 수도는 어디인지 질문 후 입력받아 정답을 맞추었으면 정답이라는 메시지를 출력하고 축하한다는 메시지도 같이 출력하라. 정답이 아니면 아무것도 하지 않는다

In [30]:
exam = input("한국의 수도는 어디인가 : ")
if exam == "서울":
    print("정답")
    print("축하합니다")

한국의 수도는 어디인가 : 서울
정답
축하합니다

---
Q. 문제 : age와 height 변수가 주어졌을 때 8세 이상이고, 키 100 이상인 경우만 놀이기구를 탈 수 있다는 조건문을 작성하라

In [34]:
age = 8
height = 100
if age >= 8 and height >= 100 :
    print("놀이기구를 탈 수 있습니다")

놀이기구를 탈 수 있습니다

---
Q. 문제 : dir 변수에는 "동", "서", "남", "북" 넷 중 하나의 방향 값이 들어간다. 이 변수의 값에 따라 서울에서 각 방향에 있는 도시 하나를 출력하는 프로그램을 작성하라. 엉뚱한 값이 들어 있으면 에러 처리한다.

In [35]:
dir = input("동, 서, 남, 북 중 하나를 입력하세요 : ")
if dir == "동":
    print("울릉도")
elif dir == "서":
    print("인천")
elif dir == "남":
    print("거제도")
elif dir == "북":
    print("북한")
else:
    print("ERROR")

동, 서, 남, 북 중 하나를 입력하세요 : 동
울릉도

---
Q. 문제 : 정수 하나를 입력받아 5의 배수인지 조사하여 그 결과를 출력하라

In [38]:
a = int(input("정수 하나를 입력하시요 : "))
if a % 5 == 0:
    print("5의 배수입니다")
else:
    print("5의 배수가 아닙니다")

정수 하나를 입력하시요 : 88
5의 배수가 아닙니다

---
Q. 문제 : 서울우유는 1리터에 2500원이고 매일우유는 1.8리터에 4200원이다. 용량대비 어떤 우유가 더 싼지 계산 및 판단하여 결과를 출력하라

In [39]:
seoul_milk = 2500 / 1000
maeil_milk = 4200 / 1800
if seoul_milk > maeil_milk :
    print("매일우유가 더 저렴합니다")
else:
    print("서울우유가 더 저렴합니다")

매일우유가 더 저렴합니다

# 6장. 반복문

## 6-1. 반복문

In [40]:
student = 1
while student <= 5:
    print(student, "번 학생의 성적을 처리한다.")
    student += 1

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.
4 번 학생의 성적을 처리한다.
5 번 학생의 성적을 처리한다.

In [41]:
# 1 ~ 100까지의 정수 합계를 구한다

num = 1
sum = 0
while num <= 100:
    sum += num
    num += 1
print("sum =", sum)

sum = 5050

In [44]:
# 150 ~300의 모든 홀수 합을 구하라

num = 151
sum = 0
while num <= 300:
    sum += num
    num += 2
print("sum =", sum)

sum = 16875

In [45]:
for student in [1, 2, 3, 4, 5]:
    print(student, "번 학생의 성적을 처리한다.")

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.
4 번 학생의 성적을 처리한다.
5 번 학생의 성적을 처리한다.

In [46]:
sum = 0
for num in range(1, 101):
    sum += num
print("sum=", sum)

sum= 5050

In [48]:
sum = 0
for num in range(2, 101, 2):
    sum += num
print("sum=",sum)

sum= 2550

In [49]:
for a in range(5):
    print("이 문장을 반복합니다.")

이 문장을 반복합니다.
이 문장을 반복합니다.
이 문장을 반복합니다.
이 문장을 반복합니다.
이 문장을 반복합니다.

---
Q. 문제 : ---------+---------+---------+---------+---------+      (10칸마다 + 출력)

In [52]:
for x in range(1,51):
    if x % 10 == 0:
        print("+", end="")
    else:
        print("-", end="")

---------+---------+---------+---------+---------+

In [53]:
for x in range(1,6):
    print("-"*9, end='')
    print("+", end='')

---------+---------+---------+---------+---------+

In [54]:
x = 1
while x <= 50:
    if x % 10 :
        print("-", end='')
    else:
        print("+", end='')
    x += 1

---------+---------+---------+---------+---------+

---
Q. 문제 : 리스트에 저장된 학생 다섯 명의 성적을 출력한다. 성적 데이터가 항상 정확하다면 루프를 끝까지 실행하겠지만 오류가 발생할 수도 있다. 4번째 학생의 성적인 120은 정상적인 성적이 아니다. 성적은 음수가 될 수 없고 100보다 커서도 안 된다.
score = [92, 86, 68, 120, 56]

In [57]:
score = [92, 86, 68, 120, 56]
for s in score:
    if s < 0 or s > 100:
        break
    print(s)
print('성적처리 끝')

92
86
68
성적처리 끝

In [59]:
for s in score:
    if s < 0 or s > 100 :
        continue
    print(s)
print('성적처리 끝')

92
86
68
56
성적처리 끝

## 6-2. 루프의 활용

---
Q. 문제 : 구구단 만들기

In [63]:
for dan in range(2,10):
    print(dan,"단")
    for hang in range(1,10):
        print(dan, "*", hang, "=", dan * hang)
    print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [65]:
dan = 2
while dan <= 9:
    hang = 1
    print(dan,"단")
    while hang <= 9:
        print(dan,"*",hang,"=",dan*hang)
        hang += 1
    print()    
    dan += 1

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

---
Q. 문제

In [78]:
for i in range(1, 10):
    for n in range(i):
        print("*",end='')
    print()

*
**
***
****
*****
******
*******
********
*********

---
Q. 문제 : 덧셈 문제를 출제하고 사용자로부터 정답을 입력받아 답을 체크한다

In [80]:
print("3 + 7 = ? ")
while True:
    a = int(input("정답을 입력하세요 :"))
    if a == 3 + 7:
        break
print("참 잘했어요")

3 + 7 = ?
정답을 입력하세요 :14
정답을 입력하세요 :34
정답을 입력하세요 :41
정답을 입력하세요 :489
정답을 입력하세요 :2
정답을 입력하세요 :16
정답을 입력하세요 :10
참 잘했어요

In [82]:
for ten in range(0,5):
    for num in range(ten * 10, ten * 10 + 10):
        print(num, end=',')
    print()

0,1,2,3,4,5,6,7,8,9,
10,11,12,13,14,15,16,17,18,19,
20,21,22,23,24,25,26,27,28,29,
30,31,32,33,34,35,36,37,38,39,
40,41,42,43,44,45,46,47,48,49,