In [1]:
if age>19:
    print('성인입니다')

NameError: name 'age' is not defined

In [2]:
for a in range(5):
    print(a)

0
1
2
3
4

In [3]:
print(3+4)

7

In [9]:
for i in range(5):
    print('Thank you!', sep='//', end='')

Thank you!Thank you!Thank you!Thank you!Thank you!

In [10]:
value = 1234
print(value)
print(value*2)

1234
2468

In [11]:
print(3+4)

7

In [12]:
4*5

20

In [13]:
4*5
a=1
b=3
print(a*b)

3

In [15]:
a=12
b=34
print(a,b, sep='/')

12/34

In [16]:
print(a,b,sep='--------->')

12--------->34

In [17]:
age = input('가격을 입력하세요 : ')
print(age)

가격을 입력하세요 : 500
500

In [21]:
price = input("가격을 입력하세요")
num = input('개수를 입력하세요')
print('총액은',int(price)*int(num),'원입니다')

가격을 입력하세요5000
개수를 입력하세요5
총액은 25000 원입니다

In [22]:
name = input('이름을 입력하세요')
print('안녕하세요!', name+'님')

이름을 입력하세요샌드리아
안녕하세요! 샌드리아님

In [23]:
score = 100

In [24]:
print(score)

100

In [25]:
score

100

In [26]:
width = input('폭을 입력하세요')
height = input('높이를 입력하세요')
print('면적은',int(width)*int(height),'입니다')

폭을 입력하세요50
높이를 입력하세요3
면적은 150 입니다

In [27]:
print("I SAY \"HELP YOU\"")

I SAY "HELP YOU"

In [28]:
a = 'first\nsecond'
print(a)

first
second

In [29]:
a = 'first\tsecond'
print(a)

first	second

In [32]:
s ="""안전하게 살아가려고 마음먹는 순간 삶은 우리를 절벽으로 밀어뜨린다.
파도가 후려친다면, 그것은 새로운 삶을 살 때가 되었다는 메시지이다
어떤 상실과 잃음도 괜히 온 게 아니다"""
print(s)

안전하게 살아가려고 마음먹는 순간 삶은 우리를 절벽으로 밀어뜨린다.
파도가 후려친다면, 그것은 새로운 삶을 살 때가 되었다는 메시지이다
어떤 상실과 잃음도 괜히 온 게 아니다

In [33]:
s ="""안전하게 살아가려고 마음먹는 순간 삶은 우리를 절벽으로 밀어뜨린다.\
파도가 후려친다면, 그것은 새로운 삶을 살 때가 되었다는 메시지이다\
어떤 상실과 잃음도 괜히 온 게 아니다"""
print(s)

안전하게 살아가려고 마음먹는 순간 삶은 우리를 절벽으로 밀어뜨린다.파도가 후려친다면, 그것은 새로운 삶을 살 때가 되었다는 메시지이다어떤 상실과 잃음도 괜히 온 게 아니다

In [34]:
totalsec = 2*2*\
            2*2
print(totalsec)

16

In [35]:
s = '대한''민국''2002'
print(s)

대한민국2002

In [36]:
s = '대한','민국','2002'
print(s)

('대한', '민국', '2002')

In [39]:
type(s)

str

In [37]:
s = ('대한','민국','2002')
print(s)

('대한', '민국', '2002')

In [40]:
type(s)

str

In [38]:
s = ('대한'
    '민국'
    '2002')
print(s)

대한민국2002

In [42]:
print("좋아, 아주좋아!~  " *3)

좋아, 아주좋아!~  좋아, 아주좋아!~  좋아, 아주좋아!~

In [44]:
print('-' * 80, end='>')

-------------------------------------------------------------------------------->

In [47]:
print(ord('a'))
print(chr(98))
print(ord('z'))
print(ord('A'))
print(ord('Z'))

97
b
122
65
90

In [49]:
for i in range(ord('A'),ord('Z')+1):
    print(chr(i), end='')

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [54]:
member = ['손오공','저팔계','사오정','삼장법사']
for m in member:
    print(m,'출동!')

손오공 출동!
저팔계 출동!
사오정 출동!
삼장법사 출동!

In [55]:
season = ['봄','여름','가을','겨울']
for i in season:
    print(i)

봄
여름
가을
겨울

In [56]:
season = '봄\n여름\n가을\n겨울'
print(season)

봄
여름
가을
겨울

In [57]:
print(ord('K'))
print(chr(100))

75
d

In [58]:
11 ** 2

121

In [59]:
12 % 5

2

In [60]:
19 // 2

9

In [62]:
pie= 400
1000 // pie

2

In [63]:
a = 5
a = a + 1
print(a)

6

In [68]:
a= 6
a += 1
print(a)

7

In [69]:
saleprice *= 0.9

NameError: name 'saleprice' is not defined

In [70]:
print("대한민국"+2002)

TypeError: can only concatenate str (not "int") to str

In [71]:
print("대한민국"+str(2002))

대한민국2002

In [76]:
print(10 + int('22.5'))

ValueError: invalid literal for int() with base 10: '22.5'

In [77]:
print(10+int(22.5))

32

In [75]:
print(10 + float('22.5'))

32.5

In [78]:
print(10+int(float('22.5')))

32

In [81]:
print(round(2.54, 1))
print(round(254, -1))

2.5
250

In [83]:
name = '홍길동'
score = 98
print(name+str(score)+'점')

홍길동98점

In [84]:
age = int(input('너 몇살이니? : '))
if age < 19:
    print('애들은 가라')

너 몇살이니? : 18
애들은 가라

In [85]:
a = 3
if a ==3:
    print('3이다')
if a>5:
    print('5보다 작다')
if a < 5:
    print('5보다 작다')

3이다
5보다 작다

In [86]:
a = 3
if a ==3:
    print('3이다')
elif a>5:
    print('5보다 작다')
elif a < 5:
    print('5보다 작다')

3이다

In [87]:
energy = 1
if energy:
    print('열심히 해낸다')

열심히 해낸다

In [92]:
a = 3
if a>1 and a<10:
    print('OK')

OK

In [93]:
if 1< a < 10:
    print('OK')

OK

In [94]:
age = 16
if age < 20:
    print('애들은 가라')
    print('공부 열심히 해야지')

애들은 가라
공부 열심히 해야지

In [96]:
age = 16
if age < 15:
    print('애들은 가라')
print('공부 열심히 해야지')

공부 열심히 해야지

In [97]:
age = 20
if age <= 19:
    print('애들은 가라')
else:
    print('어서 옵쇼!')

어서 옵쇼!

In [98]:
age =25
if age < 20:
    print('애들은 가라')
elif age <30:
    print('대학생입니다')
else:
    print('어서 옵쇼!!')

대학생입니다

In [105]:
money = 6500
if money >= 20000:
    print('탕수육을 먹는다')
if money >= 10000:
    print('쟁반짜장을 먹는다')
if money >= 4000:
    print('짬뽕을 먹는다')
if money>= 1000:
    print('단무지를 먹는다')

짬뽕을 먹는다
단무지를 먹는다

In [106]:
money = 6500
if money >= 20000:
    print('탕수육을 먹는다')
elif money >= 10000:
    print('쟁반짜장을 먹는다')
elif money >= 4000:
    print('짬뽕을 먹는다')
elif money >= 1000:
    print('단무지를 먹는다')

짬뽕을 먹는다

In [107]:
score = int(input('점수를 입력하세요 : '))
if score >= 80:
    print('합격')
else:
    print('불합격')

점수를 입력하세요 : 85
합격

In [110]:
exam = input('한국의 수도는 어디인가? : ')
if exam == '서울':
    print('정답입니다! 축하합니다')

한국의 수도는 어디인가? : 서울
정답입니다! 축하합니다

In [111]:
age = 8
height = 100
if age >= 8 and height >= 100:
    print('놀이기구를 탈 수 있습니다')

놀이기구를 탈 수 있습니다

In [112]:
dir = input('동, 서, 남, 북 중 하나를 입력하세요 : ')
if dir == '동':
    print('울릉도')
elif dir == '서':
    print('태안')
elif dir == '남':
    print('제주도')
else:
    print('개성')

동, 서, 남, 북 중 하나를 입력하세요 : 북
개성

In [115]:
num = int(input('정수를 하나 입력하세요 : '))
if num % 5 == 0:
    print('5의 배수입니다')
else:
    print('5의 배수가 아닙니다')

정수를 하나 입력하세요 : 77
5의 배수가 아닙니다

In [116]:
seoul = 2500/1000
maeil = 4200/1800
if seoul > maeil:
    print('매일 우유가 더 싸다')
elif seoul < maeil:
    print('서울 우유가 더 싸다')

매일 우유가 더 싸다

In [117]:
student = 1
while student <=5:
    print(student, '번 학생의 성적을 처리한다')
    student += 1

1 번 학생의 성적을 처리한다
2 번 학생의 성적을 처리한다
3 번 학생의 성적을 처리한다
4 번 학생의 성적을 처리한다
5 번 학생의 성적을 처리한다

In [119]:
num = 1
sum = 0
while num <= 100:
    sum += num
    num += 1
print(sum)

5050

In [120]:
num = 150
sum = 0
while num <= 300:
    if num % 2 != 0:
        sum += num
    num +=1
print(sum)

16875

In [121]:
for student in [1,2,3,4,5]:
    print(student, '번 학생의 성적을 처리한다')

1 번 학생의 성적을 처리한다
2 번 학생의 성적을 처리한다
3 번 학생의 성적을 처리한다
4 번 학생의 성적을 처리한다
5 번 학생의 성적을 처리한다

In [122]:
sum = 0
for i in range(101):
    sum += i
print(sum)

5050

In [124]:
sum = 0
for i in range(2,101,2):
    sum += i
print(sum)

2550

In [125]:
for i in range(5):
    print('이문장을 반복합니다')

이문장을 반복합니다
이문장을 반복합니다
이문장을 반복합니다
이문장을 반복합니다
이문장을 반복합니다

In [129]:
for i in range(1,51):
    if i % 10 == 0:
        print('+',end='')
    else:
        print('-',end='')

---------+---------+---------+---------+---------+

In [130]:
for i in range(1,6):
    print('-'*9, end='')
    print('+', end='')

---------+---------+---------+---------+---------+

In [132]:
i = 1
while i <=50:
    if i % 10 ==0:
        print('+', end='')
    else:
        print('-',end='')
    i += 1

---------+---------+---------+---------+---------+

In [133]:
score = [92,86,68,120,56]
for i in score:
    if i>0 and i<=100:
        print(i)
    else:
        break
print('성적처리 끝')

92
86
68
성적처리 끝

In [134]:
for i in score:
    if i<0 or i>100:
        continue
    else:
        print(i)
print('성적처리 끝')

92
86
68
56
성적처리 끝

In [137]:
import time

for dan in range(2,10):
    print(dan,'단')
    time.sleep(2)
    for hang in range(1,10):
        print(dan,'*',hang,'=',dan*hang)
        time.sleep(1)
    print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6

KeyboardInterrupt:

In [143]:
dan = 2
while dan <= 9:
    hang=1
    print(dan,'단')
    while hang <= 9 :
        print(dan,'*',hang,'=',dan*hang)
        hang +=1
    print()
    dan += 1

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [147]:
for i in range(1, 10):
    for x in range(i):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
*********

In [156]:
from random import randint

a = randint(1,9)
b = randint(1,9)

c = int(input( "%d + %d = ? " %(a,b)))
if a+b == c:
    print('정답입니다')

5 + 2 = ? 7
정답입니다

In [162]:
from random import randint




while True:
    a= randint(1,9)
    b=randint(1,9)
    c= int(input('%d + %d = ? '  %(a,b)))
    if a+b == c:
        print('정답입니다')
        break

8 + 9 = ? 100
7 + 3 = ? 100
4 + 9 = ? 100
2 + 7 = ? 9
정답입니다