In [1]:
import pandas as pd

DF = pd.read_table('https://raw.githubusercontent.com/rusita-ai/pyData/master/orders.tsv')
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [2]:
DF.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [3]:
DF.tail()

      order_id  ...  item_price
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[5 rows x 5 columns]

In [4]:
# DF_1 = DF[['order_id', 'item_name']]
# DF_1.order_id.unique().shape, DF_1.item_name.unique().shape

In [5]:
# order_ID = list(DF_1.order_id.unique())
# order_ID[:10], order_ID

In [6]:
# item_NAME = DF_1.item_name.unique()
# item_NAME[:5], item_NAME[-5:]

In [7]:
# item_NAME

In [8]:
orderItems = [[] for i in range(1835)]
len(orderItems)

1835

In [9]:
num = 0

for i in DF.item_name:
  orderItems[DF.order_id[num]].append(i)
  num += 1

In [10]:
#orderItems[:5], orderItems[-5:]

In [16]:
orderItems.pop(0)

num = 0
for i in orderItems:
  orderItems[num] = list(set(orderItems[num])) 
  num = num +1

In [18]:
from mlxtend.preprocessing import TransactionEncoder

TSE = TransactionEncoder()
Transac_Array = TSE.fit_transform(orderItems)

In [19]:
Transac_Array

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [24]:
order_DF = pd.DataFrame(Transac_Array, columns=TSE.columns_)
order_DF.head()

   6 Pack Soft Drink  Barbacoa Bowl  ...  Veggie Salad Bowl  Veggie Soft Tacos
0              False          False  ...              False              False
1              False          False  ...              False              False
2              False          False  ...              False              False
3              False          False  ...              False              False
4              False          False  ...              False              False

[5 rows x 50 columns]

In [22]:
order_DF.shape

(1834, 50)

In [25]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(order_DF, min_support=0.05, use_colnames=True, max_len = None )
frequent_itemsets

     support                                itemsets
0   0.083969                         (Bottled Water)
1   0.051254                           (Canned Soda)
2   0.150491                     (Canned Soft Drink)
3   0.335333                          (Chicken Bowl)
4   0.266630                       (Chicken Burrito)
5   0.053435                    (Chicken Salad Bowl)
6   0.058342                    (Chicken Soft Tacos)
7   0.113413                                 (Chips)
8   0.059978          (Chips and Fresh Tomato Salsa)
9   0.258451                   (Chips and Guacamole)
10  0.055071                         (Side of Chips)
11  0.102508                            (Steak Bowl)
12  0.186478                         (Steak Burrito)
13  0.060523       (Chicken Bowl, Canned Soft Drink)
14  0.066521                   (Chips, Chicken Bowl)
15  0.081243     (Chips and Guacamole, Chicken Bowl)
16  0.062159  (Chicken Burrito, Chips and Guacamole)

In [26]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric='support', min_threshold=0.05)

             antecedents            consequents  ...  leverage  conviction
0         (Chicken Bowl)    (Canned Soft Drink)  ...  0.010059    1.036604
1    (Canned Soft Drink)         (Chicken Bowl)  ...  0.010059    1.111807
2                (Chips)         (Chicken Bowl)  ...  0.028490    1.607568
3         (Chicken Bowl)                (Chips)  ...  0.028490    1.105985
4  (Chips and Guacamole)         (Chicken Bowl)  ... -0.005424    0.969392
5         (Chicken Bowl)  (Chips and Guacamole)  ... -0.005424    0.978653
6      (Chicken Burrito)  (Chips and Guacamole)  ... -0.006752    0.966979
7  (Chips and Guacamole)      (Chicken Burrito)  ... -0.006752    0.965603

[8 rows x 9 columns]

In [27]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.3)

             antecedents     consequents  ...  leverage  conviction
0    (Canned Soft Drink)  (Chicken Bowl)  ...  0.010059    1.111807
1                (Chips)  (Chicken Bowl)  ...  0.028490    1.607568
2  (Chips and Guacamole)  (Chicken Bowl)  ... -0.005424    0.969392

[3 rows x 9 columns]

In [28]:
association_rules(frequent_itemsets, metric='lift', min_threshold=0.1)

             antecedents            consequents  ...  leverage  conviction
0         (Chicken Bowl)    (Canned Soft Drink)  ...  0.010059    1.036604
1    (Canned Soft Drink)         (Chicken Bowl)  ...  0.010059    1.111807
2                (Chips)         (Chicken Bowl)  ...  0.028490    1.607568
3         (Chicken Bowl)                (Chips)  ...  0.028490    1.105985
4  (Chips and Guacamole)         (Chicken Bowl)  ... -0.005424    0.969392
5         (Chicken Bowl)  (Chips and Guacamole)  ... -0.005424    0.978653
6      (Chicken Burrito)  (Chips and Guacamole)  ... -0.006752    0.966979
7  (Chips and Guacamole)      (Chicken Burrito)  ... -0.006752    0.965603

[8 rows x 9 columns]