In [3]:
import pandas as pd

DF = pd.read_csv('https://raw.githubusercontent.com/rusita-ai/pyData/master/product.csv')
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15009 entries, 0 to 15008
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           15009 non-null  object
 1   meanPriceEach  15009 non-null  float64
 2   totalOrder     15009 non-null  float64
 3   orderType_1    15009 non-null  float64
 4   orderType_2    15009 non-null  float64
 5   orderType_3    15009 non-null  float64
 6   totalBundle    15009 non-null  float64
 7   bundleType_1   15009 non-null  float64
 8   bundleType_2   15009 non-null  float64
 9   customerType   15009 non-null  object
 10  FY             15009 non-null  int64
 11  Country        15009 non-null  int64
dtypes: float64(8), int64(2), object(2)
memory usage: 1.4+ MB

In [4]:
DF = DF[['meanPriceEach', 'totalOrder','orderType_1','orderType_2','orderType_3','totalBundle','bundleType_1','bundleType_2', 'customerType','FY','Country']]
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15009 entries, 0 to 15008
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   meanPriceEach  15009 non-null  float64
 1   totalOrder     15009 non-null  float64
 2   orderType_1    15009 non-null  float64
 3   orderType_2    15009 non-null  float64
 4   orderType_3    15009 non-null  float64
 5   totalBundle    15009 non-null  float64
 6   bundleType_1   15009 non-null  float64
 7   bundleType_2   15009 non-null  float64
 8   customerType   15009 non-null  object
 9   FY             15009 non-null  int64
 10  Country        15009 non-null  int64
dtypes: float64(8), int64(2), object(1)
memory usage: 1.3+ MB

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [29]:
def randomForest(model_id, X, y, n_est=100, mf = 'auto', md = None, ts = 0.3, rs= 2045):

# random_state를 state's'라고 적어서 오류
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=ts, random_state=rs)
  Model_rf = RandomForestClassifier(n_estimators=n_est, max_features=mf, max_depth=md, random_state=rs)
  Model_rf.fit(X_train, y_train)

  y_hat = Model_rf.predict(X_test)

  score_ac =accuracy_score(y_test, y_hat)

  return {'model_id':model_id, 'n_estimators':n_est, 'max_features':mf, 'max_depth':md, 'accuracy_score':score_ac}

In [22]:
X = DF[['meanPriceEach', 'totalOrder','orderType_1','orderType_2','orderType_3','totalBundle','bundleType_1','bundleType_2', 'FY','Country']]
y = DF['customerType']

In [23]:
DF_res = pd.DataFrame(data=None, columns =['model_id','n_estimators','max_features','max_depth','accuracy_score'])

In [24]:
DF_res

Empty DataFrame
Columns: [model_id, n_estimators, max_features, max_depth, accuracy_score]
Index: []

In [25]:
index = 1

In [30]:
for n in [50,100, 150]:
  model_name= 'RF-'+str(index)
  index += 1
  res = randomForest(model_name, X, y, n_est = n)
  print(res)
  DF_res = DF_res.append(res, ignore_index=True)

{'model_id': 'RF-4', 'n_estimators': 50, 'max_features': 'auto', 'max_depth': None, 'accuracy_score': 0.9940039973351099}
{'model_id': 'RF-5', 'n_estimators': 100, 'max_features': 'auto', 'max_depth': None, 'accuracy_score': 0.9942260715078837}
{'model_id': 'RF-6', 'n_estimators': 150, 'max_features': 'auto', 'max_depth': None, 'accuracy_score': 0.9937819231623363}

In [31]:
DF_res

  model_id n_estimators max_features max_depth  accuracy_score
0     RF-4           50         auto      None        0.994004
1     RF-5          100         auto      None        0.994226
2     RF-6          150         auto      None        0.993782