1. Missing Value
2. apply

In [1]:
import seaborn as sns
DF = sns.load_dataset('titanic')

DF

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

In [2]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [3]:
DF['deck']

0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: deck, Length: 891, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [4]:
DF['deck'].value_counts(dropna=False)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [5]:
DF.head(10).isnull()

   survived  pclass    sex    age  ...   deck  embark_town  alive  alone
0     False   False  False  False  ...   True        False  False  False
1     False   False  False  False  ...  False        False  False  False
2     False   False  False  False  ...   True        False  False  False
3     False   False  False  False  ...  False        False  False  False
4     False   False  False  False  ...   True        False  False  False
5     False   False  False   True  ...   True        False  False  False
6     False   False  False  False  ...  False        False  False  False
7     False   False  False  False  ...   True        False  False  False
8     False   False  False  False  ...   True        False  False  False
9     False   False  False  False  ...   True        False  False  False

[10 rows x 15 columns]

In [6]:
DF.isnull()

     survived  pclass    sex    age  ...   deck  embark_town  alive  alone
0       False   False  False  False  ...   True        False  False  False
1       False   False  False  False  ...  False        False  False  False
2       False   False  False  False  ...   True        False  False  False
3       False   False  False  False  ...  False        False  False  False
4       False   False  False  False  ...   True        False  False  False
..        ...     ...    ...    ...  ...    ...          ...    ...    ...
886     False   False  False  False  ...   True        False  False  False
887     False   False  False  False  ...  False        False  False  False
888     False   False  False   True  ...   True        False  False  False
889     False   False  False  False  ...  False        False  False  False
890     False   False  False  False  ...   True        False  False  False

[891 rows x 15 columns]

In [7]:
DF.isnull().sum(axis=0)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [8]:
DF.head(10).isnull().sum(axis=1)

0    1
1    0
2    1
3    0
4    1
5    2
6    0
7    1
8    1
9    1
dtype: int64

In [9]:
DF.dropna(thresh =300, axis=1).shape

(891, 14)

In [10]:
DF.dropna(thresh=300, axis=0).shape

(0, 15)

In [11]:
DF.dropna(subset=['age'], how='any', axis=0).shape

(714, 15)

In [12]:
DF.dropna(axis=0, subset=['age'], how='any').shape

(714, 15)

In [14]:
DF.dropna(subset=['age'],how='any').shape

(714, 15)

In [15]:
DF.dropna(axis=0, how='any').shape

(182, 15)

In [16]:
DF['age'].head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [18]:
DF['age'].fillna(int(DF['age'].mean(axis=0)),inplace=True)

In [19]:
DF['age'].head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5    29.0
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64