In [ ]:
!apt-get update
!apt-get install -y fonts-nanum
!fc-cache -fv
!rm ~/.cache -fv
!rm ~/.cache/matplotlib -rf

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,737 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,391 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [334 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,929 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,395 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [889 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,163 kB]
Fetched 11.1 MB in 3s (3,538 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 29 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (7,357 kB/s)
Selecting previously unselected package fonts-nanum.
(Reading database ... 149414 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded
rm: cannot remove '/root/.cache': Is a directory

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rcParams['axes.unicode_minus']=False

plt.rc('font', family='NanumBarunGothic')

In [ ]:
!ls -l

total 28
drwxr-xr-x 1 root root  4096 Feb 22 14:38 sample_data
-rw-r--r-- 1 root root  1135 Feb 24 04:10 seoulCCTV.csv
-rw-r--r-- 1 root root 19968 Feb 24 04:10 seoulPopulation.xls

# 1. 'seoulCCTV.csv' 파일 전처리

### 1)'seoulCCTV.csv' 파일 읽어오기

### 2) column의 '기관명'을 '구별'로 변경

### 3) CCTV 데이터 현황 파악

### 4) 열 추가 - '최근증가율'

# 2. 'seoulPopulation.xls' 파일 전처리

### 1) 'seoulPopulation.xls' 선택적 읽어오기

### 2) 열 이름 변경

### 3) 인구 데이터 현황 파악(행별 unique 확인, null 정보 확인,처리)

# 3. CCTV 데이터와 인구 데이터

### 1) 두 데이터프레임 merge - ['구별']

### 2) 불필요한 열 삭제 - ['연도별']

### 3) index 지정 - ['구별']

### 4) 상관계수

### 5) CCTV 개수('소계')와 '인구수'의 관계

# 4. Visualization

### 1) 막대 그래프
### 2) 산점도
### 3) 회귀계수
### 4) 회귀선
### 5) '오차'열 추가 후 시각

In [ ]:
import pandas as pd

SDF = pd.read_csv('seoulCCTV.csv', encoding='utf-8')

SDF.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [ ]:
SDF.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [ ]:
# 컬럼 이름이 list로 들어있음?? index아닌가?
SDF.rename(columns = {SDF.columns[0]:' 구별'}, inplace=True)
SDF.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [ ]:
SDF.sort_values(by='소계', ascending=True).head(7)

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348
5   광진구  707        573     78     53    174
2   강북구  748        369    120    138    204

In [ ]:
SDF.sort_values(by='소계', ascending=False).head(7)

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398
6   구로구  1561       1142    173    246    323
4   관악구  1496        846    260    390    613

In [ ]:
# 파생변수 생성
SDF['최근증가율']=((SDF['2016년']+SDF['2015년']+SDF['2014년'])/SDF['2013년도 이전'])*100

In [ ]:
SDF.sort_values(by='최근증가율', ascending=False).head(7)

      구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
22   종로구  1002        464    314    211    630  248.922414
9    도봉구   485        238    159     42    386  246.638655
12   마포구   574        314    118    169    379  212.101911
8    노원구  1265        542     57    451    516  188.929889
1    강동구   773        379     99    155    377  166.490765
19  영등포구   904        495    214    195    373  157.979798
0    강남구  2780       1292    430    584    932  150.619195

In [ ]:
import pandas as pd

SDFP = pd.read_excel('seoulPopulation.xls',
                     header = 2,   # 주소 인덱스대로. 0부터 시작
                     usecols = 'B,D,G,J,N')

SDFP.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [ ]:
SDFP.rename(columns={SDFP.columns[0]:'구별',
                     SDFP.columns[1]:'인구수',
                     SDFP.columns[2]:'한국인',
                     SDFP.columns[3]:'외국인',
                     SDFP.columns[4]:'고령자'}, inplace=True)

SDFP.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [ ]:
SDFP.drop([0], inplace=True)

In [ ]:
SDFP.head()

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

In [ ]:
# 엑셀로 봤을 때는 nan이 있는지 확인이 안됨.
SDFP['구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', nan],
      dtype=object)

In [ ]:
# 26 entries . but 25 non-null
SDFP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 1 to 26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     object
 1   인구수     25 non-null     float64
 2   한국인     25 non-null     float64
 3   외국인     25 non-null     float64
 4   고령자     25 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.2+ KB

In [ ]:
SDFP[SDFP['구별'].isnull()]

     구별  인구수  한국인  외국인  고령자
26  NaN  NaN  NaN  NaN  NaN

In [ ]:
SDFP.tail()

     구별       인구수       한국인     외국인      고령자
22  서초구  450310.0  445994.0  4316.0  51733.0
23  강남구  570500.0  565550.0  4950.0  63167.0
24  송파구  667483.0  660584.0  6899.0  72506.0
25  강동구  453233.0  449019.0  4214.0  54622.0
26  NaN       NaN       NaN     NaN      NaN

In [ ]:
SDFP.drop([26],inplace=True)
SDFP.tail()

     구별       인구수       한국인      외국인      고령자
21  관악구  525515.0  507203.0  18312.0  68082.0
22  서초구  450310.0  445994.0   4316.0  51733.0
23  강남구  570500.0  565550.0   4950.0  63167.0
24  송파구  667483.0  660584.0   6899.0  72506.0
25  강동구  453233.0  449019.0   4214.0  54622.0

In [ ]:
SDFP

      구별       인구수       한국인      외국인      고령자
1    종로구  162820.0  153589.0   9231.0  25425.0
2     중구  133240.0  124312.0   8928.0  20764.0
3    용산구  244203.0  229456.0  14747.0  36231.0
4    성동구  311244.0  303380.0   7864.0  39997.0
5    광진구  372164.0  357211.0  14953.0  42214.0
6   동대문구  369496.0  354079.0  15417.0  54173.0
7    중랑구  414503.0  409882.0   4621.0  56774.0
8    성북구  461260.0  449773.0  11487.0  64692.0
9    강북구  330192.0  326686.0   3506.0  54813.0
10   도봉구  348646.0  346629.0   2017.0  51312.0
11   노원구  569384.0  565565.0   3819.0  71941.0
12   은평구  494388.0  489943.0   4445.0  72334.0
13  서대문구  327163.0  314982.0  12181.0  48161.0
14   마포구  389649.0  378566.0  11083.0  48765.0
15   양천구  479978.0  475949.0   4029.0  52975.0
16   강서구  603772.0  597248.0   6524.0  72548.0
17   구로구  447874.0  416487.0  31387.0  56833.0
18   금천구  255082.0  236353.0  18729.0  32970.0
19  영등포구  402985.0  368072.0  34913.0  52413.0
20   동작구  412520.0  400456.0  12064.0  56013.0
21   관악구  525515.0  507203.0  18312.0  68082.0
22   서초구  450310.0  445994.0   4316.0  51733.0
23   강남구  570500.0  565550.0   4950.0  63167.0
24   송파구  667483.0  660584.0   6899.0  72506.0
25   강동구  453233.0  449019.0   4214.0  54622.0

In [ ]:
SDFP['외국인비율'] = SDFP['외국인']/SDFP['인구수'] *100
SDFP['고령자비율'] = SDFP['고령자']/SDFP['인구수'] *100

SDFP.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [ ]:
SDFP.sort_values(by='인구수', ascending=False).head(7)

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
24  송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
16  강서구  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
23  강남구  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217
11  노원구  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
21  관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291
12  은평구  494388.0  489943.0   4445.0  72334.0  0.899091  14.631019
15  양천구  479978.0  475949.0   4029.0  52975.0  0.839413  11.036964

In [ ]:
SDFP.sort_values(by='외국인', ascending = False).head(7)

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598  13.006191
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998  12.689506
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
21   관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291
6   동대문구  369496.0  354079.0  15417.0  54173.0  4.172440  14.661322
5    광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427

In [ ]:
SDFP.sort_values(by='외국인비율', ascending=False).head(7)

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598  13.006191
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998  12.689506
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
6   동대문구  369496.0  354079.0  15417.0  54173.0  4.172440  14.661322

In [ ]:
SDFP.sort_values(by='고령자', ascending=False).head(7)

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
16  강서구  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
24  송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
12  은평구  494388.0  489943.0   4445.0  72334.0  0.899091  14.631019
11  노원구  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
21  관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291
8   성북구  461260.0  449773.0  11487.0  64692.0  2.490353  14.025062
23  강남구  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217

In [ ]:
SDFP.sort_values(by='고령자비율', ascending=False).head(7)

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
13  서대문구  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797
10   도봉구  348646.0  346629.0   2017.0  51312.0  0.578524  14.717507
6   동대문구  369496.0  354079.0  15417.0  54173.0  4.172440  14.661322

In [ ]:
SDFP.columns

Index(['구별', '인구수', '한국인', '외국인', '고령자', '외국인비율', '고령자비율'], dtype='object')

In [ ]:
DF = pd.merge(SDF, SDFP, on = '구별')
DF.head()

KeyError: ignored

In [ ]:
del DF['2013년도 이전']
del DF['2014년']
del DF['2015년']
del DF['2016년']

DF.head()

In [ ]:
DF.set_index('구별', inplace=True)
DF.head()

In [ ]:
# 상관계수 - 서로간의 관계 (-1 =< r =< 1) -음의 상관관계(반비례)/ +양의 상관관계(정비례)
# -0.28. = 반비례관계. 고령인구비율이 높아질 수록 CCTV수가 줄어든다는 (해석은 위험. 변수들의 관계일 뿐)
import numpy as np
print(np.corrcoef(DF['고령자비율'],DF['소계']))

In [ ]:
# -0.13 = 약한 상관관계를 나타나지만 외국인과 CCTV는 크게 상관없으나 조금 반비례관계

print(np.corrcoef(DF['외국인비율'],DF['소계']))

In [ ]:
# 0.303 은 양의 상관관계. 정비례

print(np.corrcoef(DF['인구수'],DF['소계']))

In [ ]:
DF.sort_values(by='소계', ascending=False).head()

In [ ]:
DF.sort_values(by='인구수', ascending=False).head()

In [ ]:
import matplotlib.pyplot as plt

# h = horizontal 수평
DF['소계'].plot(kind='barh',grid=True, figsize=(10, 10,))
plt.show()

In [ ]:
DF['소계'].sort_values().plot(kind='barh', grid=True, figsize=(10,10)
plt.show()

In [ ]:
DF['CCTV비율']=DF['소계']/DF['인구수'] * 100

In [ ]:
DF['CCTV비율'].sort_values().plot(kind='barh',grid=True, figsize=(10,10))
plt.show()

In [ ]:
plt.figure(figsize=(6,6))
plt.scatter(DF['인구수'],DF['소계'], s=50)
plt.xlabel('인구수')
plt.ylabel('CCTV')
plt.grid()
plt.show()

In [ ]:
import numpy as np

np.set_printoptions(suppress = True)
fp1=np.polyfit(DF['인구수'],DF['소계'],1)
fp1

In [ ]:
f1=np.poly1d(fp1)
print(f1,'\n')

fx=np.linspace(100000, 700000, 100)
print(fx)

In [ ]:
plt.figure(figsize=(10,10))
plt.scatter(DF['인구수'],DF['소계'],s=50)
plt.plot(fx,f1(fx), ls='dashed', lw=3, color = 'g')
plt.xlabel('인구수')
plt.ylabel('CCTV')
plt.grid()
plt.show()

In [ ]:
fp1= np.polyfit(DF['인구수'], DF['소계'], 1)

f1 = np.poly1d(fp1)
fxx = np.linspace(100000, 700000, 100)

DF['오차'] = np.abs(DF['소계'] - f1(DF['인구수']))

df_sort = DF.sort_values(by='오차', ascending=False)

DF

In [ ]:
plt.figure(figsize=(14,10))
plt.scatter(DF['인구수'], DF['소계'], c=DF['오차'], s =50)
plt.plot(fx, f1(fx), ls='dashed', lw=3, color='g')

for n in range(10):
  plt.text(df_sort['인구수'][n] *1.02,
           df_sort['소계'][n] * 0.98,
           df_sort.index[n],
           fontsize=15)
  
plt.xlabel('인구수')
plt.ylabel('인구당비율')
plt.colorbar()
plt.grid()
plt.show()