In [23]:
s = "안녕하세요"
for i in range(len(s)):
    print(s[i], end=',')

안,녕,하,세,요,

In [25]:
s = "안녕하세요"
for i in s :
    print(i, end=',')

안,녕,하,세,요,

In [2]:
traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n길은 외줄기\n남도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n구름에 달 가듯이\n가는 나그네"""
poet = traveler.splitlines()
for line in poet:
    print(line)

강나루 건너서
밀밭 길을

구름에 달 가듯이
가는 나그네
길은 외줄기
남도 삼백리

술 익는 마을마다
타는 저녁놀
구름에 달 가듯이
가는 나그네

In [3]:
poet

['강나루 건너서',
 '밀밭 길을',
 '',
 '구름에 달 가듯이',
 '가는 나그네',
 '길은 외줄기',
 '남도 삼백리',
 '',
 '술 익는 마을마다',
 '타는 저녁놀',
 '구름에 달 가듯이',
 '가는 나그네']

In [8]:
price = 500
print('궁금하면 ' + str(price) + '원!')

궁금하면 500원!

In [9]:
price = 500
print("궁금하면 %d원~" %price)

궁금하면 500원~

In [12]:
print("궁금하면 %%원~" )

궁금하면 %%원~

In [13]:
month = 8
day = 15
anni = "광복절"
print("%d월 %d일은 %s이다" %(month, day, anni))

8월 15일은 광복절이다

In [16]:
print(str(month), "월", str(day), "일은 ", anni, "이다")

8 월 15 일은  광복절 이다

In [17]:
print(str(month)+ "월"+ str(day)+ "일은 "+ anni+ "이다")

8월15일은 광복절이다

In [27]:
value = 123
print("가치는%d이다" %value)
print("가치는%5d이다" %value)
print("가치는%-5d이다" %value)

가치는123이다
가치는  123이다
가치는123  이다

# 9. 리스트_튜플
## 9-1. 리스트

In [31]:
score = [88,41,34,89,66,79,21,81]
print(score[2:4])
print(score[3:-1])
print(score[-1])
print(score[1:])

[34, 89]
[89, 66, 79, 21]
81
[41, 34, 89, 66, 79, 21, 81]

In [46]:
sum = 0
for i in score:
    sum+=i
    print(i)
print("총점 :", sum)

88
41
34
89
66
79
21
81
총점 : 499

In [38]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2:5])
print(nums[:4])
print(nums[6:])
print(nums[1::2])
print(nums[-1:-4])
print(nums[-4:-1])
print(nums[::-1])

[2, 3, 4]
[0, 1, 2, 3]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[]
[6, 7, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [47]:
print(score[2])

34

In [48]:
score[2]

34

In [49]:
score[2] = 60

In [51]:
print(score[2])

60

In [52]:
nums[2:5] = [20,30,40]
print(nums)

[0, 1, 20, 30, 40, 5, 6, 7, 8, 9]

In [53]:
nums[6:8] = [90,91,92,93,94]
print(nums)

[0, 1, 20, 30, 40, 5, 90, 91, 92, 93, 94, 8, 9]

In [54]:
nums[2:] = []
print(nums)

[0, 1]

In [55]:
del nums[1]

In [56]:
print(nums)

[0]

In [57]:
list = [1,2,3,4]
list2 = [5,6,[7,8]]
listadd = list + list2
print(listadd)

[1, 2, 3, 4, 5, 6, [7, 8]]

In [59]:
listmulti = list2 *2
print(listmulti)

[5, 6, [7, 8], 5, 6, [7, 8]]

In [65]:
lol = [[1,2,3],[4,5],[6,7,8,9]]
for sub in lol :
    for item in sub:
        print(item, end=' ')
    print()

1 2 3
4 5
6 7 8 9

In [71]:
nums = [n*2 for n in range(1,11)]
print(nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [73]:
type(nums)

list

In [83]:
nums = [1,2,3,4]
nums[2] = [90,91,92]
print(nums)

[1, 2, [90, 91, 92], 4]

In [85]:
nums = [1,2,3,4]
nums[2:2] = [0,0,0]
print(nums)

[1, 2, 0, 0, 0, 3, 4]

In [87]:
nums = [1,2,3,4]
nums[2] = 0
print(nums)

[1, 2, 0, 4]

In [88]:
nums[3] =(90,91,92)
print(nums)

[1, 2, 0, (90, 91, 92)]

In [92]:
list1 = [1,2]
list2=[10,11]
list1.append(list2)
print(list1)

[1, 2, [10, 11]]

In [96]:
list1 = [1,2]
list2=(10,11)
list1.append(list2)
print(list1)

[1, 2, (10, 11)]

In [97]:
list1 = [1,2]
list2=[10,11]
list1.extend(list2)
print(list1)

[1, 2, 10, 11]

In [100]:
list1 = [1,2]
list2=(10,11)
list1.extend(list2)
print(list1)

[1, 2, 10, 11]

In [101]:
list1 = [1,2]
list2=(10,11)
list2.extend(list1)
print(list1)

AttributeError: 'tuple' object has no attribute 'extend'

In [4]:
score = [88,95,70,100,99,80,78,50]
print("학생 수는 %d명입니다" %len(score))
print('최고 점수는 %d, 최저점수는 %d입니다' %(max(score), min(score)))

학생 수는 8명입니다
최고 점수는 100, 최저점수는 50입니다

In [5]:
print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

50
78
95
[88, 70, 100, 99, 80]

In [10]:
score.sort()
print(score)

[70, 80, 88, 99, 100]

In [11]:
score.reverse()
print(score)

[100, 99, 88, 80, 70]

In [8]:
ans = input('결제 하시겠습니까? ')
if ans in ['yes','y','ok','예','당근']:
    print('구입해주셔서 감사합니다')
else:
    print('안녕히 가세요')

결제 하시겠습니까? 당근
구입해주셔서 감사합니다

In [13]:
score = [88,95,70,100,99]
score2 = sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]

## 9-2. 튜플

In [16]:
score = (88,95,70,100,99)
print(score)
type(score)

(88, 95, 70, 100, 99)

tuple

In [17]:
score = 88,95,70,100,99
print(score)
type(score)

(88, 95, 70, 100, 99)

tuple

In [18]:
tu = 2,                 # , 가 있으면 튜플이라고 인식

In [19]:
value =2                # 하나만 있으면 값으로 출력

In [20]:
print(tu)
print(value)

(2,)
2

In [25]:
score.extend(1,2)           # 튜플은 추가, 변경이 불가능
print(score)

NameError: name 'score' is not defined

In [24]:
print(score + (1,2))

(88, 95, 70, 100, 99, 1, 2)

In [25]:
a =1
b = 2
c = 3
print(a,b,c)

1 2 3

In [27]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [32]:
lee, kim, kang = '이순신','김유신','강감찬'
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [33]:
tu = '이순신','김유신','강감찬'
print(tu)
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

('이순신', '김유신', '강감찬')
이순신
김유신
강감찬

In [34]:
lee = tu[0]
print(lee)

이순신

In [35]:
kim = tu[1]
print(kim)

김유신

In [36]:
kang = tu[2]
print(kang)

강감찬

In [39]:
import time

def gettime():
    now = time.localtime()
    return now.tm_hour, now.tm_min

result = gettime()
print("지금은 %d시 %d분입니다" %(result[0], result[1]))

지금은 14시 21분입니다

In [40]:
a,b = 12, 34
print(a,b)
a,b = b, a
print(a,b)

12 34
34 12

In [58]:
score = [88, 98, 70, 100, 99]
tuple(score)

(88, 98, 70, 100, 99)

In [59]:
score = [88, 98, 70, 100, 99]
tuple(score)
print(score)

[88, 98, 70, 100, 99]

In [60]:
score = [88, 98, 70, 100, 99]
tu = tuple(score)
print(tu)

(88, 98, 70, 100, 99)

In [48]:
tu[0] = 100

TypeError: 'tuple' object does not support item assignment

In [50]:
li = list(tu)
print(li)

[88, 98, 70, 100, 99]

In [52]:
li[0] = 100
print(li)

[100, 98, 70, 100, 99]

# 10장.  사전_집합
## 10-1. 사전

In [101]:
dic = {"boy":'소년', 'school':'학교', 'book':'책'}
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [63]:
print(dic['boy'], dic['book'], sep=',')

소년,책

In [64]:
print(dic['소년'])

KeyError: '소년'

In [67]:
print(dic.get('boy'))
print(dic.get('student'))                                     # 예외처리부분
print(dic.get('student', '사전에 없는 단어입니다'))

소년
None
사전에 없는 단어입니다

In [68]:
print(dic.get('book','사전에서 찾았습니다'))

책

In [69]:
dic = {"boy":'소년', 'school':'학교', 'book':'책'}
if 'student' in dic:
    print('사전에 있는 단어입니다')
else:
    print('사전에 없는 단어입니다')

사전에 없는 단어입니다

In [73]:
# 값(value) 변경
dic['boy'] = '남자애'
print(dic)

{'boy': '남자애', 'school': '학교', 'book': '책', 'girl': '소녀'}

In [74]:
# dic에 추가
dic['girl'] ='소녀'
print(dic)

{'boy': '남자애', 'school': '학교', 'book': '책', 'girl': '소녀'}

In [75]:
# dic 요소 삭제
del dic['book']
print(dic)

{'boy': '남자애', 'school': '학교', 'girl': '소녀'}

In [76]:
# dic 요소 리스트=[공백]으로 삭제 불가
dic[1] = []
print(dic)

{'boy': '남자애', 'school': '학교', 'girl': '소녀', 1: []}

In [80]:
# keys/vlues 메서드
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'girl', 1])
dict_values(['남자애', '학교', '소녀', []])
dict_items([('boy', '남자애'), ('school', '학교'), ('girl', '소녀'), (1, [])])

In [87]:
# value로 key값을 가져올 함수나 메서드는 없다. 그런 모든 것을 함수로 직접 만들면 된다!!!!!!

def get_key(val):
    for key, value in dic.items():
        if val == value:
            return key
    return "There is no such key"

In [84]:
get_key('남자애')

'boy'

In [82]:
print(get_key('소년'))

There is no such key

In [97]:
diction = {"red":'빨강', 'yellow':'노랑', 'green':'그린'}
keylist = dic.keys()
print(keylist)
for key in keylist :
    print(key)

dict_keys(['red', 'yellow', 'green'])
red
yellow
green

In [95]:
print(dic.keys())

dict_keys(['red', 'yellow', 'green'])

In [98]:
vallist = dic.values()
print(vallist)
for val in vallist:
    print(val)

dict_values(['빨강', '노랑', '그린'])
빨강
노랑
그린

In [102]:
# 딕셔너리 병합
diction.update(dic)
print(diction)

{'red': '빨강', 'yellow': '노랑', 'green': '그린', 'boy': '소년', 'school': '학교', 'book': '책'}

In [106]:
# 같은 key가 있다면 오버라이팅
dic2 ={'a':1, 'b':2, 'book':'#'}
dic.update(dic2)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '3', 'a': 1, 'b': 2}

In [17]:
song = """by the rivers of babylon, there we sat down
yeah we wept, when we remember zion.
when the wicked carried us away in captivity
required from us a song
now how shall we sing the lord's song in a sstrange land"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else :
        alphabet[c] += 1
        
print(alphabet)

{'b': 4, 'y': 5, 't': 9, 'h': 9, 'e': 22, 'r': 12, 'i': 10, 'v': 2, 's': 11, 'o': 10, 'f': 2, 'a': 12, 'l': 5, 'n': 13, 'w': 12, 'd': 6, 'p': 2, 'm': 3, 'z': 1, 'c': 3, 'k': 1, 'u': 3, 'q': 1, 'g': 4}

In [22]:
song = """by the rivers of babylon, there we sat down
yeah we wept, when we remember zion.
when the wicked carried us away in captivity
required from us a song
now how shall we sing the lord's song in a sstrange land"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else :
        alphabet[c] += 1
        
key = list(alphabet.keys())

key.sort()
for c in key:
    num = alphabet[c]
    print(c, '=', num, '개')

a = 12 개
b = 4 개
c = 3 개
d = 6 개
e = 22 개
f = 2 개
g = 4 개
h = 9 개
i = 10 개
k = 1 개
l = 5 개
m = 3 개
n = 13 개
o = 10 개
p = 2 개
q = 1 개
r = 12 개
s = 11 개
t = 9 개
u = 3 개
v = 2 개
w = 12 개
y = 5 개
z = 1 개

In [21]:
# song에 없는 알파벳까지 세는

song = """by the rivers of babylon, there we sat down
yeah we wept, when we remember zion.
when the wicked carried us away in captivity
required from us a song
now how shall we sing the lord's song in a sstrange land"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else :
        alphabet[c] += 1
        
for code in range(ord('a'), ord('z')+1):
    c = chr(code)
    num = alphabet.get(c,0)
    print(c, '=', num, '개')

a = 12 개
b = 4 개
c = 3 개
d = 6 개
e = 22 개
f = 2 개
g = 4 개
h = 9 개
i = 10 개
j = 0 개
k = 1 개
l = 5 개
m = 3 개
n = 13 개
o = 10 개
p = 2 개
q = 1 개
r = 12 개
s = 11 개
t = 9 개
u = 3 개
v = 2 개
w = 12 개
x = 0 개
y = 5 개
z = 1 개

## 10-2. 집합

In [9]:
asia = {'korea','china','japan','taiwan'}
print(asia)

{'japan', 'taiwan', 'korea', 'china'}

In [10]:
type(asia)

set

In [12]:
# 빈 집합 만들거나 다른 컬렉션을 집합형으로 변환
# 순서와 상관없이 집합을 만드는 (순서가 중요X, 데이터가 있느냐 없느냐가 중요!!)

print(set('sanghyung'))
print(set([12, 34, 56, 78]))
print(set(("신지희","한주완","김태륜")))  #괄호 두개 사용

{'h', 'y', 'n', 'a', 'g', 's', 'u'}
{56, 34, 12, 78}
{'김태륜', '한주완', '신지희'}

In [5]:
# 인수없이 set() 함수 호출 - 공집합 만들기 
print(set())

set()

In [24]:
twox = {2, 4, 6,  8, 10, 12}
threex = {3, 6, 9, 12, 15}

print("교집합", twox&threex)
print('합집합', twox | threex)
print('차집합', twox - threex)
print('차집합', threex-twox)
print('배타적 차집합', twox^threex)

교집합 {12, 6}
합집합 {2, 3, 4, 6, 8, 9, 10, 12, 15}
차집합 {8, 2, 10, 4}
차집합 {9, 3, 15}
배타적 차집합 {2, 3, 4, 8, 9, 10, 15}

# 11. 컬렉션 관리 
(대용량 데이터를 다룰 때 용이)

## 11-1. 컬렉션 관리 함수

In [26]:
score = [88, 95, 70, 100, 99]
for i in score:
    print("성적 :",i)

성적 : 88
성적 : 95
성적 : 70
성적 : 100
성적 : 99

In [31]:
for no in score:
    print(str(no)+ "번 학생의 성적 :", no)
    no +=1

88번 학생의 성적 : 88
95번 학생의 성적 : 95
70번 학생의 성적 : 70
100번 학생의 성적 : 100
99번 학생의 성적 : 99

In [36]:
# any / all

adult=[True, False, True, False]   #True= 조건에 맞는다는 것, False=조건에 안맞는다는 것
print(any(adult))      # 하나만 있어도
print(all(adult))       # 전부 다여야

True
False

## 11-2 람다함수

In [41]:
# map 함수

def half(s):
    return s/ 2
score = [45, 89, 72, 53, 94]
print(score)
for s in map(half, score):
    print(s, end=',')
    
  # 원본 데이터를 건들지 않고 새로운 리스트 생성

[45, 89, 72, 53, 94]
22.5,44.5,36.0,26.5,47.0,
[45, 89, 72, 53, 94]

In [44]:
score = [45, 89, 72, 53, 94]
print(score)
for s in map(lambda x : x/2, score):
    print(s, end=',')

[45, 89, 72, 53, 94]
22.5,44.5,36.0,26.5,47.0,

In [42]:
def total(s,b):
    return s + b

score = [45,89,72,53,94]
bonus = [2,3,0,0,5]
for s in map(total, score, bonus):
    print(s, end=',')

47,92,72,53,99,

In [49]:
# 리스트의 사본

a = 3
b =a
print("a=%d, b=%d" %(a,b))

a=5
print("a=%d, b=%d" %(a,b))

a=3, b=3
a=5, b=3

In [46]:
list1 = [1,2,3]
list2 = list1
print(list1)
print(list2)

list2[1] = 100
print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]
[1, 100, 3]
[1, 100, 3]

In [47]:
list1 = [1,2,3]
list2 = list1.copy()

list2[1] =100
print(list1)
print(list2)

[1, 2, 3]
[1, 100, 3]

In [50]:
list0=['a','b']
list1=[list0,1,2]
list2 = list1.copy()
print(list0)
print(list1)
print(list2)

['a', 'b']
[['a', 'b'], 1, 2]
[['a', 'b'], 1, 2]

In [52]:
list2[0][1]='c'
print(list1)
print(list2)
print(list0)

[['a', 'c'], 1, 2]
[['a', 'c'], 1, 2]
['a', 'c']

In [53]:
list2[2] = 100
print(list1)
print(list2)

[['a', 'c'], 1, 2]
[['a', 'c'], 1, 100]

In [56]:
import copy

list0=['a','b']
list1=[list0,1,2]
list2 = copy.deepcopy(list1)

list2[0][1]= 777
print(list0)
print(list1)
print(list2)

['a', 'b']
[['a', 'b'], 1, 2]
[['a', 777], 1, 2]

In [58]:
a=1
b=a
print('a=',a,'b=',b,':', a is b)
b=2
print('a=',a,'b=',b, ':', a is b)

a= 1 b= 1 : True
a= 1 b= 2 : False